mat-toolbar {
    position: sticky;
    position: -webkit-sticky;
    top: 0; 
    z-index: 1000;
    background-color: #546e7a;
}

.spacer {
    flex: 1 1 auto;
}

.link {
    text-decoration: none;
    color: white;
}

.icon-list {
    margin-left: 1rem;
}

.fa-github {
    color: white;
    padding-bottom: .8rem;
    text-decoration: none;
}

.fa-google {
    color: white;
    padding-bottom: .8rem;
    text-decoration: none;
}

.image-fluid {
    height: 2%;
}

button {
    background-color: #546e7a;
    color: white;
}

@media(max-width: 768px) { 
    .button-items {
        display: none;
    }
}