{
  "SECRET_KEY": "ASecretKey",
  "ALLOWED_HOSTS": [
    "*"
  ],
  "ADMIN_MAIL": [
    "SomeEmail"
  ],
  "EMAIL_HOST": "HOST",
  "EMAIL_PORT": 111,
  "EMAIL_HOST_USER": "MAILUSER",
  "EMAIL_HOST_PASSWORD": "MAILPASSWORD",
  "DB_NAME": "bluexolo",
  "DB_HOST": "localhost",
  "DB_USER": "bluexolo",
  "DB_PASSWORD": "Bluexolo",
  "DB_PORT": "5432",
  "SITE_DNS": "https://sitedns.com",
  "IBM_CLIENT": 0,
  "DEPTH_SEARCH": 0,
  "PLATFORM_VERSION": "3.1.0",
  "CELERY_BROKER_URL": "amqp://localhost",
  "CELERY_APP_NAME": "CTAFramework",
  "COMPRESS_ROOT": 0,
  "DEBUG": 1
}