#!/usr/bin/bash

#script
echo 'Welcome back Mr. Anderson'
echo "Let's create some dirs First"
mkdir -p media/test_keywords
echo " . "
mkdir -p media/zip
echo " . . "
mkdir -p media/test_result
echo " . . . "
mkdir -p media/test_cases
echo " . . ."
mkdir -p media/keywords
echo " . . ."
mkdir -p media/profiles
echo " . . ."
echo "ok, the dirs have created."
echo "That's all"
