#!/usr/bin/bash

# | - - - - - - - - - - - - - - - - - - - - - - - - - - -  |
# |    Script for create the directory schema on media     |
# |                Last update January 2018                |
# | - - - - - - - - - - - - - - - - - - - - - - - - - - -  |
echo "1st -> create some dirs First"
mkdir -p media/test_keywords media/zip media/test_result media/test_cases media/test_suites media/keywords media/profiles
echo "DONE"
echo ""
echo "2nd -> installing python dependencies"
pip install -r requirements.txt
echo "DONE"
echo ""
echo "3rd -> create some variables"
python run_base_migrations.py
echo "DONE"
echo "That's all"