<!DOCTYPE html>
{% load static %}
{% load compress %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blue Xolo {% block  title %}{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Styles-->
    {% compress css %}
        <link rel="stylesheet" href="{% static "css/materialize.min.css" %}">
        <link rel="stylesheet" href="{% static "fonts/iconfont/material-icons.css" %}">
        <link rel="stylesheet" href="{% static "css/toastr.min.css" %}">
        <link rel="stylesheet" href="{% static "css/main.css" %}">
        <!-- End Styles -->
    {% endcompress %}
    <!-- Scripts -->
    {% compress js %}
        <script src="{% static "js/jquery-3.2.1.min.js" %}"></script>
        <script src="{% static "js/materialize.min.js" %}"></script>
        <script src="{% static "js/toastr.min.js" %}"></script>
        <script src="{% static "js/main.js" %}"></script>
    {% endcompress %}
    <!-- End Scripts -->
</head>
<body>
<!-- messages  -->
{% include "messages.html" %}
<!-- main content -->
{% block content %}

{% endblock content %}
<!-- end main content -->

{% block extraJS %}
{% endblock %}
</body>
</html>
