{% extends "registration/base_registration.html" %}
{% load staticfiles %}
{% block content %}
    <div class="container">
        <div class="section">
            <div class="row">
                <div class="col s12 offset-l4 l4">
                    <img src="{% static "img/logo.svg" %}" alt="logo_ibm" class="login_img">
                </div>
            </div>
            <div class="row">
                <div class="col s12 offset-l3 l6 card">
                    <div class="card-content">
                        <p>Logged out!</p>
                        <a href="{% url 'login' %}">Click here to login again.</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}