{% extends "registration/base_registration.html" %}
{% load i18n static %}

{% block title %}{{ title }}{% endblock %}
{% block content_title %}<h1>{{ title }}</h1>{% endblock %}
{% block content %}
    <div class="container">
        <div class="section">
            <div class="row">
                <div class="col s12 offset-l2 l8">
                    <img src="{% static "img/logo.svg" %}" alt="logo_ibm" class="login_img">
                </div>
            </div>
            <div class="row">
                <div class="col s12 offset-l1 l10 card">
                    <p>{% trans "Enter your email address and we will send you instructions on how to set a new password." %}</p>
                    <div class="card-content">

                        <form method="post">{% csrf_token %}
                            <div class="form-row field-email">
                                {{ form.email.errors }}
                                <label for="id_email">{% trans 'Email address:' %}</label>
                                {{ form.email }}
                            </div>
                            <input type="submit" class="btn" value="{% trans 'Send me instructions' %}"/>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
