{% extends "registration/base_registration.html" %}
{% load i18n static %}

{% block title %}{{ title }}{% endblock %}
{% block content_title %}<h1>{{ title }}</h1>{% endblock %}
{% block content %}
    <div class="section">
        <div class="row">
            <div class="col s12 offset-l2 l8">
                <img src="{% static "img/IBM_logo.svg" %}" alt="logo_ibm" class="login_img">
            </div>
        </div>
        <div class="row">
            <div class="col s12 offset-l2 l8 card">
                <div class="card-content">
                    <p>{% trans "Your password has been set.  You may go ahead and log in now." %}</p>
                    <div class="center">
                        <p><a class="btn" href="{{ login_url }}">{% trans 'Log in' %}</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
