{% extends "registration/base_registration.html" %}
{% load i18n static %}


{% block title %}{{ title }}{% endblock %}
{% block content_title %}<h1>{{ title }}</h1>{% endblock %}
{% block content %}
    <div class="container">
        <div class="section">
            <div class="row">
                <div class="col s12 offset-l2 l8">
                    <img src="{% static "img/IBM_logo.svg" %}" alt="logo_ibm" class="login_img">
                </div>
            </div>
            <div class="row">
                <div class="col s12 offset-l2 l8 card">
                    {% if validlink %}
                        <p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
                        <div class="card-content">
                            <form method="post">{% csrf_token %}

                                <div class="form-row field-password1">
                                    {{ form.new_password1.errors }}
                                    <label for="id_new_password1">{% trans 'New password:' %}</label>
                                    {{ form.new_password1 }}
                                </div>
                                <div class="form-row field-password2">
                                    {{ form.new_password2.errors }}
                                    <label for="id_new_password2">{% trans 'Confirm password:' %}</label>
                                    {{ form.new_password2 }}
                                </div>
                                <div class="center">
                                    <input type="submit" class="btn" value="{% trans 'Change my password' %}"/>

                                </div>

                            </form>
                        </div>
                    {% else %}

                        <p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
