<div class="line-box" id="footer">
  
  <div class="container-div">
    <div class="div-1"></div>
    <div class="div-2">
      <img src="assets/images/complete.svg" class="img-fluid" alt="logo">
    </div>
    <div class="div-3"></div>
    <div class="div-4">      
      <div class="title-links">Quick Links</div>
      <div class="links">
        <span><a class="link" target="_blank" href="https://github.com/IBM/BlueXolo">Bluexolo Github</a></span>
        <span><a class="link" target="_blank" href="https://groups.google.com/forum/#!forum/bluexolo">Bluexolo Google Group</a></span>
        <span><a class="link" target="_blank" href="https://app.zenhub.com/workspaces/bluexolo-5c09910d4b5806bc2bfb46c4/boards?repos=159405800">Bluexolo ZenHub</a></span>
      </div>
    </div>
    <div class="div-5">
    </div>
  </div>

  <div class="footer-bottom">© 2019 Copyright</div>

</div>