.app-title {
    font-size: 1.3rem;
}

.app-subtitle {
    font-size: 1.1rem;
    font-weight: 300;
    margin-left: 1.6rem;
}

.user-topbar {
    margin: 0.6rem;
}

.btn-main-menu {
    margin: 0.7rem;
}

.logo_img {
    height: 1.5rem;
    margin: 0 1rem;
}

.login_img {
    height: 3rem;
    display: block;
    margin: 0 auto;
}

.not-found-text {
    font-size: 2rem;
    margin: 3rem !important;
    text-align: center;
}

.left-button {
    left: 23px;
    right: auto;
}

.manita {
    cursor: pointer;
}

.modal {
    width: 80% !important;
    height: 80% !important;
    max-height: 100% !important;
}
  /*body {*/
    /*display: flex;*/
    /*min-height: 100vh;*/
    /*flex-direction: column;*/
  /*}*/

  /*main {*/
    /*flex: 1 0 auto;*/
  /*}*/

.page-footer{
    font-size: 0.8rem;
}

.step.done::before{
    background-color:#26a69a !important;
}

.step-title::before{
    background-color:#26a69a !important;
}

.link {
    color: #fff;
    cursor: pointer;
}

/* Center the loader */
.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #26a69a;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  /* Add animation to "page content" */
  .animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
  }
  
  @-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
  }
  
  @keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
  }

  .disabled {
    pointer-events:none; 
    opacity:0.6;
  }