{% extends "base.html" %}
{% block title %}Collections{% endblock %}{% block subtitle %}Collections{% endblock %}
{% load permission_tags %}
{% block content %}
    <div class="container">
        <table class="datatable">
            <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Edit</th>
            </tr>
            </thead>
        </table>
        {% if user|can:'create_collection' %}
            <div class="fixed-action-btn">
                <a href="{% url "new-collections" %}"
                   class="btn-floating btn-large waves-effect waves-light blue-grey"><i
                        class="material-icons">add</i></a>
            </div>
        {% endif %}
    </div>
{% endblock %}
{% load staticfiles %}
{% block extraStyles %}
    <link rel="stylesheet" href="{% static "css/dataTablesMaterial.css" %}">
{% endblock %}
{% block extraScripts %}
    <script src="{% static "js/datatables.min.js" %}"></script>
    <script src="{% static "js/DTBoilerPlate.js" %}"></script>
    <script>
        $(document).ready(function () {
            var config = [{
                "targets": 2,
                data: function (row) {
                    return "<div>" +
                        {% if user|can:'update_collection' %}
                            "<a class='btn' href='/testings/collections/" + row[2]
                            + "'><i class='material-icons'>edit</i></a>" +
                            "   " +
                        {% endif %}
                        {% if user|can:'delete_collection' %}
                            "<a class='btn red' href='/testings/collections/" + row[2]
                            + "/delete/'><i class='material-icons'>delete</i></a>" +
                        {% endif %}
                        "</div>";
                }
            }];
            dtStart("{% url "api-collections" %}", config)
        });
    </script>
{% endblock %}