<div class="center"><b class="pink-text">Select Elements to Drag</b><i style="float: right;" class="tiny material-icons tooltipped" data-position="bottom" data-tooltip="Select the command and drag it to the Drag and Drop window.">help_outline</i></div>
<div class="card">
    <div class="card-content">
        <label for="cfs">
            Control Flow Sentences
        </label>
        <div id="flowSentenceContainer"></div>
    </div>
</div>
<script>
    /* Search for Control Flow Sentences Commands */
    getFlowSentenceCommands({
        "data": {"category": 1, "page_size": 10, "extra": 0},
        "id_div_accordion": "controlFlowCommandsPanel"
    });

    function getFlowSentenceCommands(config) {
        $.ajax({
            url: "{% url 'api-commands' %}",
            type: 'GET',
            data: config.data,
            success: function (data) {
                if (data.results) {
                    populateCommandsPanel(data.results);
                }
            },
            error: function (error) {
                drawMessage(error.responseJSON.text, 'red');
                console.log("Error retrieving commands when website is loaded " + error);
                return false;
            }
        });
    }

    function populateCommandsPanel(commands) {
        commands.forEach(function (commandJSON) {
            var draggableNode = document.createElement("div");

            draggableNode.className = "drag-drop-item center";
            draggableNode.id = commandJSON.id + "-drag-drop";
            draggableNode.draggable = true;
            draggableNode.setAttribute("ondragstart", "drag(event)");
            draggableNode.innerHTML = commandJSON.name;
            var commandsPanelControlFlow = document.getElementById('flowSentenceContainer');
            commandsPanelControlFlow.appendChild(draggableNode);
        });
    }
</script>