{% extends "base.html" %}
{% block title %}Keywords{% endblock %}
{% block subtitle %}Keywords{% endblock %}

{% block content %}

    {% load staticfiles %}

    {% block extraStyles %}
        <link rel="stylesheet" href="{% static 'css/keywords.css' %}">
        <link rel="stylesheet" href="{% static "css/select2-materialize.css" %}">
    {% endblock %}

    {% block extraScript %}
        <script type="text/javascript" src="{% static "js/select2.full.min.js" %}"></script>
        <script type="text/javascript" src="{% static "js/dragNDrop/getInitial.js" %}"></script>
        <script type="text/javascript" src="{% static '/js/dragNDrop/interpreter.js' %}"></script>
        <script type="text/javascript" src="{% static '/js/dragNDrop/parametersGetter.js' %}"></script>
        <script type="text/javascript" src="{% static '/js/dragNDrop/parametersSaver.js' %}"></script>
        <script type="text/javascript" src="{% static '/js/dragNDrop/propertiesPanelLogic.js' %}"></script>
        <script type="text/javascript" src="{% static '/js/dragNDrop/translatorToRobot.js' %}"></script>
        <script type="text/javascript" src="{% static '/js/dragNDrop/dragDropFunctions.js' %}"></script>
        <script type="text/javascript" src="{% static '/js/dragNDrop/dropCreator.js' %}"></script>
        <script type="text/javascript" src="{% static '/js/dragNDrop/jsonManipulator.js' %}"></script>
    {% endblock %}

    <script type="text/javascript">
        var counterJSON = [];
        var droppedElements = [];
        var elementsInTable = 0;
        var movingElement = false;
        var new_keyword;

        $(document).ready(function () {
            //populate selects
            var _config = {
                "url": "{% url "api-collection" %}",
                "data": {},
                "container": "keyword_collection"
            };
            selectServerSide(_config);

        });

        function createParametersList(node, iDTarget) {
            var attributeList = document.createElement("ul");
            attributeList.id = node.id + "-" + "parameters";

            attributeList.className = "parameter";
            attributeList.style.fontWeight = "normal";

            var elementType = node.id.split("-")[0];

            $.ajax({
                url: "{% url 'api-commands' %}",
                type: 'GET',
                data: {
                    id: elementType,
                    extra: 1//0 retorna sin argumentos, 1 con argumentos
                },
                success: function (data) {
                    var arguments = data.results[0].arguments;
                    for (var i = 0; i < arguments.length; i++) {
                        var li = document.createElement('li');
                        t = document.createTextNode(arguments[i].name);
                        li.appendChild(t);
                        attributeList.appendChild(li);
                    }
                    appendListInTable(node, attributeList, iDTarget);
                },
                error: function (error) {
                    console.log("Error loading arguments of " + elementType + "while drawing list on drop");
                    return false;
                }
            });
        }

        function populateCommandsAfterSearch(commands) {
            commands.forEach(function (commandJSON) {
                var draggableNode = document.createElement("div");

                draggableNode.className = "drag-drop-item";
                draggableNode.id = commandJSON.id + "-drag-drop";
                draggableNode.draggable = true;
                draggableNode.setAttribute("ondragstart", "drag(event)");
                draggableNode.innerHTML = commandJSON.name;

                if (commandJSON.category === 1) {
                    var panelToPopulate = document.getElementById("controlFlowCommandsPanel");
                    $('.collapsible').collapsible('open', 0);
                }
                else if (commandJSON.category === 2) {
                    var panelToPopulate = document.getElementById("systemCommandsPanel");
                    $('.collapsible').collapsible('open', 1);
                }
                else if (commandJSON.category === 3) {
                    var panelToPopulate = document.getElementById("productCommandsPanel");
                    $('.collapsible').collapsible('open', 2);
                }
                else if (commandJSON.category === 4) {
                    var panelToPopulate = document.getElementById("robotCommandsPanel");
                    $('.collapsible').collapsible('open', 3);
                }
                else if (commandJSON.category === 5) {
                    var panelToPopulate = document.getElementById("librariesCommandsPanel");
                    $('.collapsible').collapsible('open', 4);
                }
                else if (commandJSON.category === 6) {
                    var panelToPopulate = document.getElementById("customKeywordCommandsPanel");
                    $('.collapsible').collapsible('open', 5);
                }

                if (panelToPopulate !== undefined) {
                    panelToPopulate.appendChild(draggableNode);
                }

            });
        }

        function popUpPropertiesKeyword() {
            var floatingDiv = document.getElementById("floatingDiv"),
                lightsOff = document.createElement("div");

            lightsOff.style.width = window.innerWidth + "px";
            lightsOff.style.height = window.innerHeight + "px";
            lightsOff.className = "lightsOff";
            lightsOff.id = "lightsOff";

            lightsOff.onclick = function () {
                document.body.removeChild(this);
                floatingDiv.style.visibility = 'hidden';
            };

            document.body.appendChild(lightsOff);

            floatingDiv.style.visibility = 'visible';
            floatingDiv.style.top = window.innerHeight / 2 - 50 + 'px';
            floatingDiv.style.left = window.innerWidth / 2 - 100 + 'px';
        }

        function writeKeywordDatabase() {
            var keywordName = document.getElementById("keyword_name").value;
            var keywordDescription = document.getElementById("keyword_description").value;
            var keywordValues = droppedElements;
            var keywordCollection = document.getElementById('keyword_collection').value;
            var keywordScript = document.getElementById("terminal").value;

            var newKeyword = {
                "name": keywordName,
                "description": keywordDescription,
                "script": keywordScript,
                "values": JSON.stringify(keywordValues),
                "collection": keywordCollection
            };
            $.ajax({
                url: "{% url "api-keywords" %}",
                type: 'POST',
                data: newKeyword,
                success: function (data) {
                    drawMessage("Keyword Saved", 'green');
                    $('#modalPreview').modal('close');
                    new_keyword = data;
                },
                error: function (error) {
                    console.log(error)
                }
            });

            hidePropertiesKeyword();
        }

        function saveKeyword() {
            var functionToExecuteAfter = writeKeywordDatabase;
            translateToRobot(functionToExecuteAfter);
        }

        function hidePropertiesKeyword() {
            {#            var floatingDiv = document.getElementById("floatingDiv"),#}
            {#                lightsOff = document.getElementById("lightsOff");#}
            {##}
            {#            document.body.removeChild(lightsOff);#}
            {#            floatingDiv.style.visibility = 'hidden';#}
        }
    </script>


    <div class="row">
        <div class="col s12">
            <div class="input-field col s6 l4">
                <select id="keyword_collection"></select>
                <label for="keyword_collection">Keyword Collection</label>
            </div>
            <div class="input-field col s6 l4">
                <label for="keyword_name">Keyword Name</label>
                <input type="text" id="keyword_name" onblur="hasValues()">
            </div>
            <div class="input-field col s6 l4">
                <label for="keyword_description">Keyword Description</label>
                <input type="text" id="keyword_description">
            </div>
        </div>
    </div>

    {#    <div class="divider"></div>#}
    <div class="section">
        {% csrf_token %}
        <div class="row">
            <div class="col s12 l3">
                {% include "search-block.html" %}
            </div>
            <div class="col l6 s12">
                <ul class="tabs">
                    <li class="tab col s3"><a href="#tab1">Drag and Drop</a></li>
                    <li class="tab col s3"><a href="#tab2" onclick="translateToRobot()">Text</a></li>
                </ul>
                <div id="tab1" class="col s12">
                    <div class="card">
                        <div class="card-content" style="min-height: 30em">
                            <div class="row">
                                <div class="col s12 ">
                                    <table id="dragDropTable" style="width:100%">
                                        <tr id="tableFormat" ondrop="drop(event)" ondragover="allowDrop(event)">
                                            <td id="dragDropSpace"></td>
                                        </tr>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div id="tab2" class="col s12">
                    <div class="card">
                        <div class="card-content">
                            <textarea id="terminal" placeholder="Put your code over here~"
                                      class="terminal materialize-textarea">
                            </textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col l3 s12">
                {% include "properties-block.html" %}
            </div>
        </div>

        <!-- Modal Structure -->
        <div id="modalPreview" class="modal modal-fixed-footer">
            <div class="modal-content">
                <div class="card">
                    <div class="card-content">
                        <h4 class="app-title">Keyword Properties</h4>
                        <div class="row">
                            <div class="input-field col s12 offset-l4 l4">
                                <select name="severs" id="selectProfiles" multiple>
                                </select>
                                <label for="severs">Server Profile</label>
                            </div>
                        </div>
                    </div>
                </div>
                <h4 class="app-title">Keyword Preview</h4>
                <textarea id="codeFinal" class=" terminal blue-grey-text" disabled></textarea>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Close</a>
                <button type="button" id="runScript" class="waves-effect waves-green btn" onclick="runScript()"
                        disabled>Run script
                </button>
                <button type="button" id="btnSave" class="waves-effect waves-green btn" onclick="saveKeyword()">Save
                    Keyword
                </button>
            </div>
        </div>


    </div>
    <div class="fixed-action-btn">
        <button onclick="translateToRobot(populatePreview)" id="btn_play"
                class="btn-floating btn-large waves-effect waves-light blue-grey tooltipped" data-position="left"
                data-tooltip="Preview Script" disabled="true">
            <i class="material-icons">play_arrow</i></button>
    </div>


    <div class="fixed-action-btn left-button ">
        <a href="{% url "keywords" %}" id="btn_play"
           class="btn-floating btn-large waves-effect waves-light grey tooltipped" data-position="right"
           data-tooltip="Back to Keyword List">
            <i class="material-icons">arrow_back</i></a>
    </div>

{% endblock %}
{% block extraScripts %}
    <script type="text/javascript">
        $('.modal').modal();


        function populateSelect() {
            var _select = document.getElementById('selectProfiles');
            $.ajax({
                url: "{% url "api-profiles" %}",
                type: "GET",
                success: function (data) {
                    _select.innerHTML = "";
                    data.forEach(function (v, k) {
                        var _option = document.createElement("option");
                        _option.text = v.name;
                        _option.value = v.id;
                        _select.appendChild(_option);
                    });
                    setTimeout(function () {
                        $('select').material_select();
                    }, 100)
                }, error: function (err) {
                    console.log(err)
                }
            })
        }

        function populatePreview() {
            populateSelect();
            var _script = document.getElementById('terminal').value;
            var _scriptView = document.getElementById('codeFinal');
            _scriptView.innerHTML = _script;
            $('#modalPreview').modal('open');
        }

        document.getElementById('selectProfiles').onchange = function () {
            if ($('#selectProfiles').val()) {
                document.getElementById('runScript').disabled = false;
            }
        };

        function hasValues() {
            var _keyName = document.getElementById('keyword_name');
            var _keyCollection = document.getElementById('keyword_collection');
            var _btn_save = document.getElementById('btn_play');
            _btn_save.disabled = !(_keyCollection.value && _keyName.value);
        }

        function runScript() {
            saveKeyword();
            var _profiles = JSON.stringify($('#selectProfiles').val());
            setTimeout(function () {
                $.ajax({
                    url: "{% url "run-on-server" %}",
                    type: "post",
                    data: {
                        keyword: new_keyword.id,
                        profile: _profiles
                    },
                    success: function (data) {
                        drawMessage("Keyword has sent to scheduler", 'blue');
                        $('#modalPreview').modal('close');
                    }, error: function (err) {
                        drawMessage(err.responseJSON.text, 'red');
                    }
                });
            }, 3000);

        }
    </script>
{% endblock %}