{% extends "base.html" %}
{% block title %}Edit import Script{% endblock %}{% block subtitle %}Edit Import Script{% endblock %}
{% block content %}
    <div class="">
        <div class="row">
            <div class="col s12 l5 card">
                <div class="card-content" style="max-height: 85vh; overflow: scroll">
                    <form method="POST" enctype="multipart/form-data" novalidate>
                        {% csrf_token %}
                        {% include "form-snippet.html" %}
                        <div class="center">
                            <input type="submit" value="Import" class="btn">
                        </div>
                    </form>
                </div>
            </div>
            <div class="col l1 s12">
            </div>
            <div class="col s12 l5 card">
                <div class="card-content" style="max-height: 85vh; overflow: scroll">
                    {{ keyword.values | safe }}
                </div>
            </div>
        </div>
    </div>

    <div class="fixed-action-btn left-button ">
        <a href="{% url "keywords" %}" id="btn_play"
           class="btn-floating btn-large waves-effect waves-light grey">
            <i class="material-icons">arrow_back</i></a>
    </div>
{% endblock %}

{% load staticfiles %}
{% load compress %}
{% block extraStyles %}
    {% compress css %}
        <link rel="stylesheet" href="{% static "css/highlight.css" %}">
    {% endcompress %}
{% endblock %}