{% extends "base.html" %}
{% block title %}Edit import Script{% endblock %}{% block subtitle %}Edit Import Script{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col s12 offset-l3 l6 card">
                <div class="card-content">
                    <form method="POST" enctype="multipart/form-data" novalidate>
                        {% csrf_token %}
                        {% include "form-snippet.html" %}
                        <div class="center">
                            <input type="submit" value="Import" class="btn">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="fixed-action-btn left-button ">
        <a href="{% url "keywords" %}" id="btn_play"
           class="btn-floating btn-large waves-effect waves-light grey">
            <i class="material-icons">arrow_back</i></a>
    </div>
{% endblock %}

