{% extends "base.html" %}
{% block title %}Edit Test Case{% endblock %}{% block subtitle %}EditTest Case{% endblock %}

{% load staticfiles %}
{% load compress %}

{% block content %}
    {% compress css %}
        <link rel="stylesheet" href="{% static 'css/keywords.css' %}">
        <link rel="stylesheet" href="{% static "css/select2-materialize.css" %}">
        <link rel="stylesheet" href="{% static "css/highlight.css" %}">
    {% endcompress %}

    {% compress js %}
        <script type="text/javascript" src="{% static "js/select2.full.min.js" %}"></script>
        <script type="text/javascript" src="{% static "js/dragNDrop/getInitial.js" %}"></script>
        <script type="text/javascript" src="{% static '/js/dragNDrop/interpreter.js' %}"></script>
        <script type="text/javascript" src="{% static '/js/dragNDrop/parametersGetter.js' %}"></script>
        <script type="text/javascript" src="{% static '/js/dragNDrop/parametersSaver.js' %}"></script>
        <script type="text/javascript" src="{% static '/js/dragNDrop/propertiesPanelLogic.js' %}"></script>
        <script type="text/javascript" src="{% static '/js/dragNDrop/translatorToRobot.js' %}"></script>
        <script type="text/javascript" src="{% static '/js/dragNDrop/dragDropFunctions.js' %}"></script>
        <script type="text/javascript" src="{% static '/js/dragNDrop/dropCreator.js' %}"></script>
        <script type="text/javascript" src="{% static '/js/dragNDrop/jsonManipulator.js' %}"></script>

        <script type="text/javascript">
            var counterJSON = [];
            var droppedElements = [];
            var elementsInTable = 0;
            var movingElement = false;
            var new_testcase;

            $(document).ready(function () {
                $('.chips').material_chip();
                //populate selects
                var _configCollections = {
                    "url": "{% url "api-collection" %}",
                    "data": {},
                    "container": "collection"
                };
                selectServerSide(_configCollections);

                setTimeout(function () {
                    getPhases();
                }, 1000);

                function getPhases() {
                    var _configPhases = {
                        "url": "{% url "api-phases" %}",
                        "data": {
                            "collection": document.getElementById("collection").value
                        },
                        "container": "phases_list"
                    };

                    var phaseIndex = "{{ object.phase.pk | escapejs }}";

                    selectServerSide(_configPhases, phaseIndex);
                }                

                getTestcaseToEdit();
            });

            function getTestcaseToEdit() {
                var testcaseData = document.getElementById('tc_values').value;
                {#            var testcaseData = "{{object.values}}";#}
                droppedElements = JSON.parse(testcaseData);
                drawElementsFromJSON();
            }

            function createParametersList(node, iDTarget) {
                var attributeList = document.createElement("ul");
                attributeList.id = node.id + "-" + "parameters";

                attributeList.className = "parameter";
                attributeList.style.fontWeight = "normal";

                var elementType = node.id.split("-")[0];

                $.ajax({
                    url: "{% url 'api-commands' %}",
                    type: 'GET',
                    data: {
                        id: elementType,
                        extra: 1//0 retorna sin argumentos, 1 con argumentos
                    },
                    success: function (data) {
                        var arguments = data.results[0].arguments;
                        for (var i = 0; i < arguments.length; i++) {
                            var li = document.createElement('li');
                            t = document.createTextNode(arguments[i].name);
                            li.appendChild(t);
                            attributeList.appendChild(li);
                        }
                        appendListInTable(node, attributeList, iDTarget);
                    },
                    error: function (error) {
                        console.log("Error loading arguments of " + elementType + "while drawing list on drop");
                        return false;
                    }
                });
            }

            function popUpPropertiesTestcase() {
                var floatingDiv = document.getElementById("floatingDiv"),
                    lightsOff = document.createElement("div");

                lightsOff.style.width = window.innerWidth + "px";
                lightsOff.style.height = window.innerHeight + "px";
                lightsOff.className = "lightsOff";
                lightsOff.id = "lightsOff";

                lightsOff.onclick = function () {
                    document.body.removeChild(this);
                    floatingDiv.style.visibility = 'hidden';
                };

                document.body.appendChild(lightsOff);

                floatingDiv.style.visibility = 'visible';
                floatingDiv.style.top = window.innerHeight / 2 - 50 + 'px';
                floatingDiv.style.left = window.innerWidth / 2 - 100 + 'px';
            }

            function writeTestcaseDatabase() {
                var testcaseName = document.getElementById("testcase_name").value;
                var testcaseDescription = document.getElementById("testcase_description").value;
                var testcaseCollection = document.getElementById("collection").value;
                var testcaseValues = droppedElements;
                var testcaseScript = document.getElementById("terminal").value;
                var testcaseFunctions = $('#testecase_functions').material_chip('data');
                var testcasePhase = document.getElementById("phases_list").value;

                var usedElements = {
                    extra: usedExtras,
                    keywords: usedKeywords,
                    testcases: usedTestcases
                }

                var newTestcase = {
                    "name": testcaseName,
                    "description": testcaseDescription,
                    "collection": testcaseCollection,
                    "script": testcaseScript,
                    "functions": JSON.stringify(testcaseFunctions),
                    "phase": testcasePhase,
                    "values": JSON.stringify(testcaseValues),
                    "extra_imports": JSON.stringify(usedElements)
                };
                $.ajax({
                    url: "{% url "api-testcases" testcase.pk %}",
                    type: 'PUT',
                    data: newTestcase,
                    success: function (data) {
                        drawMessage("TestCase Updated", "green");
                        var $toastContent = $('<span>Click on "GO" button to Run </span>').add($(
                            '<a href="/testings/'+data.id+'/2/run" class="btn-flat white-text toast-action">Go</a>'));
                        Materialize.toast($toastContent, 12000, 'blue');
                        new_testcase = data;
                    },
                    error: function (err) {
                        console.log(err);
                        drawMessage(err.responseText, 'red');
                    }
                });

                hidePropertiesTestcase();
            }

            function saveTestcase() {
                var functionToExecuteAfter = writeTestcaseDatabase;
                translateToRobot(functionToExecuteAfter);
                {#            translateToRobot(writeTestcaseDatabase);#}
            }

            function hidePropertiesTestcase() {
                {#            var floatingDiv = document.getElementById("floatingDiv"),#}
                {#                lightsOff = document.getElementById("lightsOff");#}
                {##}
                {#            document.body.removeChild(lightsOff);#}
                {#            floatingDiv.style.visibility = 'hidden';#}
            }
        </script>

    {% endcompress %}
    <div class="row">

        <input type="hidden" value="{{ object.values }}" id="tc_values">
        <input type="hidden" value="{{ object.collection.last.pk }}" id="tc_collection">


        <div class="col s12">
            <div class="input-field col s6 m4 l2">
                <select id="collection" onchange="hasValues()" value="{{ object.collection }}"></select>
                <label for="collection">Collection <b class="red-text">*</b></label>
                <ul>
                    <li class="red-text"><i id="error_field_collection"></i></li>
                </ul>
            </div>
            <div class="input-field col s6 m4 l2">
                <select id="phases_list" onchange="hasValues()" value="{{ object.phase }}">
                    <option value="" selected>- - - - -</option>
                </select>
                <label for="phases_list">Phase <b class="red-text">*</b></label>
                 <ul>
                    <li class="red-text"><i id="error_field_phase"></i></li>
                </ul>
            </div>
            <div class="input-field col s6 m4 l2">
                <label for="testcase_name">Name <b class="red-text">*</b></label>
                <input type="text" id="testcase_name" onblur="hasValues()" placeholder="Required"
                       value="{{ object.name }}">
                 <ul>
                    <li class="red-text"><i id="error_field_name"></i></li>
                </ul>
            </div>
            <div class="input-field col s6 m4 l3">
                <label for="testcase_description">Description</label>
                <input type="text" id="testcase_description" onblur="hasValues()" placeholder="Optional"
                       value="{{ object.description | escape }}">
            </div>
            <div class="input-field col s6 m4 l3 ">
                Functions
                <div class="chips" id="testecase_functions"></div>
            </div>
        </div>
    </div>

    {#    <div class="divider"></div>#}
    <div class="section">
        {% csrf_token %}
        <div class="row">
            <div class="col s12 l3">
                {% include "control-flow-block.html" %}
                {% include "search-command-block.html" %}
                {% include "search-keyword-block.html" %}
            </div>
            <div class="col l6 s12">
                <ul class="tabs">
                    <li class="tab col s3"><a href="#tab1">Drag and Drop</a></li>
                    <li class="tab col s3"><a href="#tab2" onclick="translateToRobot()">Text</a></li>
                </ul>
                <div id="tab1" class="col s12">
                    <div class="card">
                        <div class="card-content" style="min-height: 30em">
                            <div class="row">
                                <div class="col s12">
                                    <table id="dragDropTable" style="width:100%">
                                        <tr id="tableFormat" ondrop="drop(event)" ondragover="allowDrop(event)">
                                            <td id="dragDropSpace"></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="tab2" class="col s12">
                    <div class="card">
                        <div class="card-content">
                            <textarea id="terminal" placeholder="Put your code over here~"
                                      class="terminal materialize-textarea">
                            </textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col l3 s12">
                {% include "properties-block.html" %}
            </div>
        </div>
        <!-- Modal Trigger -->

        <!-- Modal Structure -->
        <div id="modalPreview" class="modal modal-fixed-footer">
            <div class="modal-content">
                <div class="card">
                    <div class="card-content">
                        <h4 class="app-title">Testcase Properties</h4>
                        <div class="row">
                            <div class="input-field col s12 offset-l4 l4">
                                <select name="severs" id="selectProfiles" multiple
                                        onchange="document.getElementById('runScript').disabled = false;">
                                </select>
                                <label for="severs">Server Profile</label>
                            </div>
                        </div>
                    </div>
                </div>
                <h4 class="app-title">Testcase Preview</h4>
                <textarea id="codeFinal" class=" terminal blue-grey-text" disabled></textarea>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Close</a>
                <button type="button" id="runScript" class="waves-effect waves-green btn" onclick="runScript()"
                        disabled="true">Run script
                </button>
                <button type="button" id="btnSave" class="waves-effect waves-green btn" onclick="saveTestcase()">Save
                    Testcase
                </button>
            </div>
        </div>

    </div>
    <div class="fixed-action-btn">
        <button onclick="saveTestcase()" id="btn_play"
                class="btn-floating btn-large waves-effect waves-light blue tooltipped" data-position="left"
                data-tooltip="Save">
            <i class="material-icons">save</i></button>
    </div>


    <div class="fixed-action-btn left-button ">
        <a href="{% url "testcases" %}" id="btn_back"
           class="btn-floating btn-large waves-effect waves-light grey tooltipped" data-position="right"
           data-tooltip="Back to Test Cases List">
            <i class="material-icons">arrow_back</i></a>
    </div>

{% endblock %}
{% block extraScripts %}
    {% compress js %}
        <script type="text/javascript">
            $('.modal').modal();

            function populateSelect() {
                var _select = document.getElementById('selectProfiles');
                $.ajax({
                    url: "{% url "api-profiles" %}",
                    type: "GET",
                    success: function (data) {
                        _select.innerHTML = "";
                        data.forEach(function (v, k) {
                            var _option = document.createElement("option");
                            _option.text = v.name;
                            _option.value = v.id;
                            _select.appendChild(_option);
                        });
                        setTimeout(function () {
                            $('select').material_select();
                        }, 100)
                    }, error: function (err) {
                        console.log(err)
                    }
                })
            }

            function populatePreview() {
                populateSelect();
                var _script = document.getElementById('terminal').value;
                var _scriptView = document.getElementById('codeFinal');
                _scriptView.innerHTML = _script;
                $('#modalPreview').modal('open');
            }
   function hasValues() {
                var _name = document.getElementById('testcase_name');
                var _keyCollection = document.getElementById('collection');
                var _phase = document.getElementById('phases_list');
                var _error_filed_collection = document.getElementById('error_field_collection');
                var _error_filed_phase = document.getElementById('error_field_phase');
                var _error_filed_name = document.getElementById('error_field_name');
                showError(_keyCollection, _error_filed_collection);
                showError(_phase, _error_filed_phase);
                showError(_name, _error_filed_name);
            }


            function showError(element, destiny) {
                var _btn_save = document.getElementById('btn_play');
                if (!element.value) {
                    _btn_save.disabled = true;
                    destiny.innerHTML = "This field is required";
                } else {
                    _btn_save.disabled = false;
                    destiny.innerHTML = "";
                }
            }

            document.getElementById('selectProfiles').onchange = function () {
                if ($('#selectProfiles').val()) {
                    document.getElementById('runScript').disabled = false;
                }
            };

            function runScript() {
                saveTestcase();
                var _profiles = JSON.stringify($('#selectProfiles').val());
                setTimeout(function () {
                    $.ajax({
                        url: "{% url "run-on-server" %}",
                        type: "post",
                        data: {
                            id: new_testcase.id,
                            profile: _profiles,
                            type_script: 2
                        },
                        success: function (data) {
                            drawMessage("Test Case send to Queue", 'blue');
                            $('#modalPreview').modal('close');
                        }, error: function (err) {
                            drawMessage(err.responseJSON.text, 'red');
                        }
                    });
                }, 3000);

            }
        </script>
    {% endcompress %}
{% endblock %}