<div id="propertiesPanelContainer" class="card">

    <div id="propertiesPannel" class="card-content propertiesPannel">
        <p id="currentEditing">Editing ID</p>
        <form action="">

            <div id="defaultEditing" class="input-field">
                <input type="text" name="value">
                <label for="value">Value</label>
            </div>
            <div class="center">
                <input type="submit" class="btn" value="Create"
                       onclick="saveParametersFromInput();">
            </div>
        </form>
    </div>
</div>
