<div class="card">
    <div class="card-content">
        <div class="row">
            <label for="id_label_single">
                Keyword Search
                <select id="keyword-search"></select>
            </label>
        </div>
        <div id="keywordsContainer"></div>
    </div>
</div>
{{ object.script_type }}
<script>

    $('#keyword-search').select2({
        ajax: {
            url: "{% url "api-keywords" %}",
            dataType: 'json',
            delay: 350,
            data: function (params) {
                return {
                    collection: document.getElementById('collection').value,
                    name: params.term, // search term
                };
            },
            processResults: function (data) {
                return {
                    results: data.results
                };
            }
        },
        escapeMarkup: function (markup) {
            return markup;
        }, // let our custom formatter work
        minimumInputLength: 2,
        templateResult: function (results) {
            return results.name
        },
        templateSelection: function (selection) {
            return selection.name;
        }
    });

    $('#keyword-search').on("select2:select", function (e) {
        $.ajax({
            url: '/apis/keywords/' + this.value + '/',
            type: 'GET',
            success: function (data) {
                var _container = document.getElementById('keywordsContainer');
                _container.innerHTML = "";
                var _resultElement = document.createElement('div');
                _resultElement.className = 'drag-drop-item center';
                _resultElement.id = data.id + "-keyword-drag-drop";
                _resultElement.draggable = true;
                _resultElement.setAttribute("ondragstart", "drag(event)");
                _resultElement.innerHTML = data.name;
                _container.appendChild(_resultElement);
            }, error: function (err) {
                drawMessage(err.responseJSON.text, 'red');
            }
        });
    });

</script>