{% extends "base.html" %}
{% block title %}Test Suites{% endblock %}{% block subtitle %}Test Suites{% endblock %}
{% load permission_tags %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h5>Description</h5>
                <p>
                    Test Suites are created from Test Cases.
                </p>
            </div>
        </div>
        <table class="datatable">
            <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Created</th>
                <th>Options</th>
            </tr>
            </thead>
        </table>
        {% if user|can:'create_test_suite' %}
            <div class="fixed-action-btn">
                <a href="{% url "new-testsuites" %}"
                   class="btn-floating btn-large waves-effect waves-light blue-grey tooltipped" data-position="left"
                   data-tooltip="New Testsuite"><i class="material-icons">add</i></a>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% load staticfiles %}
{% load compress %}

{% block extraStyles %}
    {% compress css %}
        <link rel="stylesheet" href="{% static "css/dataTablesMaterial.css" %}">
    {% endcompress %}
{% endblock %}

{% block extraScripts %}
    {% compress js %}
        <script src="{% static "js/datatables.min.js" %}"></script>
        <script src="{% static "js/DTBoilerPlate.js" %}"></script>
        <script>
            $(document).ready(function () {
                var config = [{
                    "targets": 3,
                    data: function (row) {
                        return "<div class='center'>" +
                            {% if user|can:'update_test_suite' %}
                                "<a class='btn' href='/testings/testsuites/edit/" + row[3]
                                + "'><i class='material-icons'>edit</i></a>" +
                            {% endif %}
                            '     ' +
                            {% if user|can:'delete_test_suite' %}
                            "<a class='btn red' href='/testings/testsuites/" + row[3] + "/delete/'><i class='material-icons'>delete</i></a>" +
                            {% endif %}
                            '     ' +
                            "<a class='btn blue waves-effect waves-light' href='/testings/" + row[3] + "/3/run'><i class='material-icons'>play_arrow</i></a>" +
                            "</div>";
                    }
                }];
                dtStart("{% url "api-testsuites-list" %}", config)
            });
        </script>
    {% endcompress %}
{% endblock %}