{% extends "base.html" %}
{% load permission_tags %}
{% block title %}Test cases{% endblock %}{% block subtitle %}Test cases{% endblock %}
{% block content %}

    <div class="container">
        <div class="row">
            <div class="col s12">
                <p>
                        Test cases are created from keywords that can come from two sources. <br>
                        <ul>
                            <li>Library keywords</li>
                            <li>User keywords</li>
                        </ul>
                </p>
            </div>
        </div>
        <table class="datatable">
            <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Description</th>
                <th>Created</th>
                <th>Options</th>
            </tr>
            </thead>
        </table>
        {% if user|can:'create_test_case' %}
            <div class="fixed-action-btn">
                <a href="{% url "new-testcase" %}"
                   class="btn-floating btn-large waves-effect waves-light blue-grey tooltipped" data-position="left"
                   style="float:left;margin:0.7rem;right:260px;bottom:5px;" data-tooltip="New Testcases">
                   <i class="material-icons">add</i></a>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% load staticfiles %}
{% load compress %}

{% block extraStyles %}
    {% compress css %}
        <link rel="stylesheet" href="{% static "css/dataTablesMaterial.css" %}">
    {% endcompress %}
{% endblock %}

{% block extraScripts %}
    {% compress js %}
        <script src="{% static "js/datatables.min.js" %}"></script>
        <script src="{% static "js/DTBoilerPlate.js" %}"></script>
        <script>
            $(document).ready(function () {
                var config = [{
                    "targets": 4,
                    data: function (row) {
                        return "<div>" +
                            {% if user|can:'update_test_case' %}
                                "<a class='btn' href='/testings/" + (row[1] == "Native" ? "testcases/edit/" + row[4] : "import/testcase/" + row[4] + "/edit") + "'><i class='material-icons'>edit</i></a>"+
                            {% endif %}
                            '     ' +
                            {% if user|can:'delete_test_case' %}
                                "<a class='btn red' href='/testings/testcases/" + row[4]
                                + "/delete/'><i class='material-icons'>delete</i></a>" +
                            {% endif %}
                            '      ' +
                            "<a class='btn blue waves-effect waves-light' href='/testings/" + row[4] + "/2/run'><i class='material-icons'>play_arrow</i></a>" +
                            "</div>";
                    }
                }];
                dtStart("{% url "api-testcases-list" %}", config)
            });
        </script>
    {% endcompress %}
{% endblock %}