{% extends "base.html" %}
{% block title %}Commands{% endblock %}{% block subtitle %}Commands{% endblock %}
{% load permission_tags %}
{% block content %}
    <div class="container">
        <div class="col s12">
            <p>
                Massive import of system commands.  To perform the extraction of commands using the M-Extract, it is necessary to click on the button in the lower right corner, with the text “Extract from Operation System” (M-extract)
            </p>
        </div>
        <div class="section">
            <div class="row">
                <div class="col s12 l4">
                    <b for="command-search">Filters <i style="margin-left: 150px" class="tiny material-icons tooltipped" data-position="bottom" data-tooltip="You can refine your commands search">help_outline</i></b>
                    <form action="#" id="filters">
                        <p>
                            <input name="group1" type="radio" id="category0" class="with-gap " value="" checked/>
                            <label for="category0">None</label>
                        </p>
                        <p>
                            <input name="group1" type="radio" id="category1" value="2" class="with-gap"/>
                            <label for="category1">OS Commands</label>
                        </p>
                        <p>
                            <input name="group1" type="radio" id="category2" value="3" class="with-gap"/>
                            <label for="category2">Product</label>
                        </p>
                        <p>
                            <input name="group1" type="radio" id="category3" value="4" class="with-gap"/>
                            <label for="category3">Robot Framework</label>
                        </p>
                        <p>
                            <input class="with-gap" name="group1" type="radio" value="5" id="category4"/>
                            <label for="category4">Libraries</label>
                        </p>
                        <p>
                            <input type="checkbox" id="exactSearch"/>
                            <label for="exactSearch">
                                <b>Exact search<i style="margin-left: 70px" class="tiny material-icons tooltipped" data-position="bottom" data-tooltip="Check to make an exact search of a command">help_outline</i></b>
                            </label>
                        </p>
                    </form>
                </div>

                <div class="col s12  l4">
                    <b for="command-search">Command Search <i style="float: right;" class="tiny material-icons tooltipped" data-position="bottom" data-tooltip="Search commands previously added to the tool">help_outline</i></b>
                    <div class="input-field col s12">
                        <select id="command-search">
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section">
        <div id="results"></div>
        <div id="results_container" class="row hide">
            <div class="s12 offset-l1 l10 card  col">
                <div class="card-content">
                    <table id="resultTable" class="centered">
                        <thead class="blue-grey-text">
                        <tr>
                            <th width="80">Command</th>
                            <th width="350">Description</th>
                            <th width="180">Source</th>
                            <th>Arguments</th>
                        </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                    <div class="center-align">
                        <code class="grey-text">*Click on argument or command name for edit it.</code>
                    </div>
                </div>
            </div>
        </div>
        <div class="fixed-action-btn">
            <a class="btn-floating btn-large blue-grey">
                <i class="large material-icons">add</i>
            </a>
            <ul>
                <li><a class="btn-floating blue tooltipped" data-position="left" data-delay="50"
                       data-tooltip="Manual" href="{% url "new-command" %}">
                    <i class="material-icons">create</i></a></li>
                <li>
                    <button class="btn-floating green tooltipped" data-position="left" data-delay="50"
                            data-tooltip="Extract from Operation System (M-Extract)" onclick="modal_extract()">
                        <i class="material-icons">launch</i>
                    </button>
                </li>
            </ul>
        </div>
    </div>

    <!-- Modal Run Extract-->
    <div id="modalExtract" class="modal modal-fixed-footer">
        <div class="modal-content">
            <h4>Extract commands</h4>
            <form>
                {% csrf_token %}
                <div class="row">
                    <div class="input-field col s12 l6">
                        <input id="host" type="text" required pattern="^([0-9]{1,3}\.){3}[0-9]{1,3}$"
                               placeholder="like 123.123.123.123" onblur="checkValues()" class="tooltipped" data-position="bottom" data-tooltip="System from which the information will be extracted. It must be a computer with an operating system based on UNIX.">
                        <label for="host">Host</label>
                    </div>
                    <div class="input-field col s12 l6">
                        <input id="port" type="number" class="tooltipped" data-position="bottom" data-tooltip="System Connection port from which the information will be extracted">
                        <label for="port">Port</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12 l6">
                        <input id="username" type="text" required onblur="checkValues()" class="tooltipped" data-position="bottom" data-tooltip="User that can access to the remote computer">
                        <label for="username">User</label>
                    </div>
                    <div class="input-field col s12 l6">
                        <input id="password" type="password" required onblur="checkValues()" class="tooltipped" data-position="bottom" data-tooltip="Password of the user that can access to the remote computer">
                        <label for="password">Password</label>
                    </div>
                </div>
                <div class="row">
                    <p class="center">
                        <input type="checkbox" id="local"/>
                        <label for="local">Get commands from local server <b><i style="margin-left: 10px" class="tiny material-icons tooltipped" data-position="bottom" data-tooltip="In case you require commands from the local operating system">help_outline</i></b></label>
                    </p>
                </div>
            </form>

        </div>
        <div class="modal-footer">
            <button type="button" class="modal-action modal-close waves-effect waves-green btn-flat ">Close</button>
            <button type="button" class="modal-action  waves-effect waves-green btn green" id="btn_run_extract"
                    disabled="true" onclick="run_extract()">Run
                Extract
            </button>
        </div>
    </div>

{% endblock %}

{% load staticfiles %}
{% load compress %}

{% block extraStyles %}
    {% compress css %}
        <link rel="stylesheet" href="{% static "css/select2-materialize.css" %}">
    {% endcompress %}
{% endblock %}

{% block extraScripts %}
    {% compress js %}
        <script type="text/javascript" src="{% static "js/select2.full.min.js" %}"></script>
        <script type="text/javascript">

            function modal_extract() {
                $('#modalExtract').modal('open');
            }

            $('#local').change(function () {
                if ($("#local:checked").val()) {
                    $('#host').val(null);
                    $('#host').attr('disabled', true);
                    $('#port').attr('disabled', true);
                    $('#username').attr('disabled', true);
                    $('#password').attr('disabled', true);
                } else {
                    $('#host').attr('disabled', false);
                    $('#port').attr('disabled', false);
                    $('#username').attr('disabled', false);
                    $('#password').attr('disabled', false);
                }
                checkValues();
            });

            function checkValues() {
                if ($('#host').val() && $('#username').val() && $('#password').val() || $("#local:checked").val()) {
                    $('#btn_run_extract').attr('disabled', false);
                } else {
                    $('#btn_run_extract').attr('disabled', true);
                }
            }

            $('document').ready(function () {
                $('select').material_select('destroy');
                $('.modal').modal();

                function parseReults(results) {
                    var _print;
                    if ($("#filters input[type='radio']:checked").val() === "") {
                        _print = results.name
                    } else {
                        if (results.source) {
                            if (results.source.length > 1) {

                                _print = 'Multiples Sources - ' + results.name
                            } else {

                                _print = results.source[0].name + ' - ' + results.name
                            }

                        }
                    }
                    return _print
                }

                $('#command-search').select2({
                    ajax: {
                        url: "{% url "api-commands" %}",
                        dataType: 'json',
                        delay: 250,
                        data: function (params) {
                            return {
                                name: params.term,   // search term
                                category: $("#filters input[type='radio']:checked").val(),
                                extra: 1,
                                exact: $("#exactSearch:checked").val()
                            };
                        },
                        processResults: function (data) {
                            return {
                                results: data.results
                            };
                        }
                    },
                    placeholder: "Command Search",
                    escapeMarkup: function (markup) {
                        return markup;
                    }, // let our custom formatter work
                    minimumInputLength: 2,
                    templateResult: parseReults,
                    templateSelection: parseReults
                });
            });

            $('#command-search').on("select2:select", function (e) {
                printInfo($('#command-search').select2('data')[0])
            });

            function printInfo(data) {
                $.ajax({
                    url: '/apis/commands/' + data.id + '/',
                    type: 'GET',
                    data: {extra: 1},
                    success: function (data) {
                        var _table = $('#resultTable');
                        _table.find('tbody').empty();
                        var _source_list = [];
                        var _argument_list = [];
                        _table.find('tbody')
                            .append($('<tr>')
                                {% if user|can:'update_commands' %}
                                    .append
                                    ('<td><a class=" small blue-text waves-effect" href="/commands/' + data.id + '/edit/">' + data.name + '</a>  </td>')
                                    {% else %}
                                    .append
                                    ('<td><a class=" small blue-text waves-effect">' + data.name + '</a>  </td>')
                                {% endif %}
                                    .append($('<td>')
                                        .text(data.description)
                                    )
                                    .append($('<td class="sources">')
                                    )
                                    .append($('<td class="args">')
                                    )
                            );
                        if (data.source.length > 0) {
                            $.each(data.source, function (k, v) {
                                _source_list.push('<p>' + v.name + ' - ' + v.version + '</p>')
                            });
                        }

                        if (data.arguments.length > 0) {
                            $.each(data.arguments, function (k, v) {
                                _argument_list.push('<a href="{% url "arguments" %}' + v.id + '/" ' +
                                    'class="btn-flat small  waves-effect tooltipped grey-text" data-position="bottom" data-tooltip="' + v.description + '">'
                                    + v.name + '</a>')
                            });
                        }
                        else {
                            _argument_list.push('<span>No Arguments </span>');
                        }
                        {#                    _argument_list.push('<a href="{% url "new-argument" %}" class="blue btn waves-effect" id="' + data.id + '"> + </a>');#}
                        $('.sources').append(_source_list);
                        $('.args').append(_argument_list);
                        $('#results_container').removeClass('hide');
                        $('.tooltipped').tooltip({delay: 150});
                    }, error: function (err) {
                        console.log(err)
                    }
                });
            }

            function run_extract() {
                var _data = {
                    'category': 2,
                    'host': document.getElementById('host').value,
                    'port': document.getElementById('port').value || 22,
                    'username': document.getElementById('username').value,
                    'password': document.getElementById('password').value
                };
                $.ajax({
                    url: '{% url "run_extract" %}',
                    type: 'POST',
                    data: _data,
                    success: function (data) {
                        $('#modalExtract').modal('close');
                        {#                    alert("Extract Finished");#}
                        document.location.reload();
                    }, error: function (err) {
                        console.log(err)
                    }
                });
            }
        </script>
    {% endcompress %}
{% endblock %}