{% extends "base.html" %}
{% block title %}{{ title }} {{ slug }}{% endblock %}
{% block subtitle %}{{ title }} {{ slug }}{% endblock %}
{% block content %}
    <div class="container">
        <div class="col s12">
            <p>
            {% if slug == 'robot' %}
                The Robot Framework commands used by the platform must be loaded into the database in order to be used by users.
                There are many versions of the Robot Framework and different versions of the same can be used, it is possible to massively load more than 1 version of commands. 
                To start with the execution of this module, it is necessary to be in the main window after having logged in and select the "Robot Framework option”.<br>
                This option leads to a window that contains the list of versions of Robot Framework available on the platform, as well as the option to add another version of the Robot Framework or to add several versions at the same time.<br> 
                Clicking on the add button to the lower right corner will open a new window, in which the path of the .zip that is downloaded from the official Robot Framework documentation is requested. The documentation can be found in (<a href="http://robotframework.org/robotframework/" target="_blank">Robot Framework</a>).
            {% endif %}
            {% if slug == 'products' %}
                In this option you can add product commands, to do so, you needto click in the Phases tab on the main menu and click in the Add product commands button
            {% endif %}
            {% if slug == 'libraries' %}
                This option leads to a window that contains the list of versions of Robot Framework loaded on the platform, as well as the corresponding options to individually add a version of the Robot Framework or execute the process of adding several at the same time: The documentation can be found in (<a href="http://robotframework.org/robotframework/" target="_blank">Robot Framework</a>)
            {% endif %}
            </p>
        </div>
    </div>
    {% if extra %}
        <div class="row">
            <div class="col s12 offset-l3 l6">
                <h4 class="app-subtitle center-align">{{ extra }} {{ slug }}</h4>
            </div>
        </div>
    {% endif %}
    {% include "base-new-form.html" %}
    {% if stepper != 'stepper' %}
    <div class="fixed-action-btn left-button ">
        <a href="{% url "source-list" slug %}" id="btn_play"
           class="btn-floating btn-large waves-effect waves-light grey">
            <i class="material-icons">arrow_back</i></a>
    </div>
    {% endif %}
{% endblock %}
