{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block subtitle %}{{ title }}{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col s12 ">
                <form novalidate>
                    {% csrf_token %}
                    {% include "form-snippet-horizontal.html" %}
                </form>
            </div>
        </div>

        <div class="row card">
            <div class="col s12 card-content">
              {% if "Edit" in title %}
                <div class="col s12 l4">
                    <div class="center">
                        <!-- Modal Trigger -->
                        <a id="argument_modal" href="#modalArgument" class="btn-flat teal-text waves-effect btn modal-trigger">
                            Add Argument
                        </a>
                    </div>
                </div>
                <div class="col s12 l1"></div>
                <div class="col s12 l7" id="tableContainer">
                    <table id="params_tab" style="width: 100%{% if not object.get_arguments %}; display:none;{% endif %}">
                        <tr>
                            <th width="20%">Name</th>
                            <th width="30%">Description</th>
                            <th width="15%">Required</th>
                            <th width="20%">Needs Value</th>
                            <th width="15%"></th>
                        </tr>
                        <tbody id="params_table">
                            {% for arg in object.get_arguments %}
                            <tr id="arg_{{ arg.id }}">
                                <td id="arg_name_{{ arg.id }}">
                                    <a id="argument_modal_{{ arg.id }}" href="#modalArgument_{{ arg.id }}" class="modal-trigger" onclick="openModal({{ arg.id }})">{{ arg.name }}</a>
                                </td>
                                <td id="arg_description_{{ arg.id }}">{{ arg.description }}</td>
                                <td id="arg_required_{{ arg.id }}">{{ arg.requirement }}</td>
                                <td id="arg_needs_value_{{ arg.id }}">{{ arg.needs_value }}</td>
                                <td><i class="material-icons red-text manita" onclick="deleteArgument({{ arg.id }})">close</i></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% if total_arguments > 10 %}
                <div class="col s12 l4">
                    <div class="center">
                        <!-- Modal Trigger -->
                        <a id="argument_modal_ext" href="#modalArgument" class="btn-flat teal-text waves-effect btn modal-trigger">
                            Add Argument
                        </a>
                    </div>
                </div>
                {% endif %}
              {% endif %}
            </div>
            <div class="center section">
                {% if object %}
                    <button type="button" class="btn  waves-effect" onclick="updateCommand()" id="btn_update">
                        Update Command
                    </button>
                {% else %}
                    <button type="button" class="btn  waves-effect" onclick="createCommand()" disabled id="btn_create">
                        Create Command
                    </button>
                {% endif %}
            </div>
        </div>
    </div>

    <!-- Modal Structure -->
    <div id="modalArgument" class="modal modal-fixed-footer">
        <div class="modal-content">
            <h4>New Argument</h4>
            <form novalidate id="form_argument">
                {% comment %}
                {% include "form-snippet.html" with form=ArgumentForm parent=object %}
                {% endcomment %}
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="modal-action modal-close waves-effect waves-green btn-flat " onclick="removeFormArgument()">Cancel</button>
            <button type="button" href="#!" class="waves-effect waves-green btn" onclick="createArgument()">Create
            </button>
        </div>
    </div>

    {% if object %}
        <div id="argumentsModal">
        {% for arg in object.get_arguments %}
            <div id="modalArgument_{{ arg.id }}" class="modal modal-fixed-footer">
                <div class="modal-content">
                    <h4>Update Argument</h4>
                    <form novalidate id="form_argument_{{ arg.id }}"></form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</button>
                    <button type="button" href="#!" class="waves-effect waves-green btn" onclick="editArgument({{ arg.id }})">Update</button>
                </div>
            </div>
        {% endfor %}
        </div>
        <div class="fixed-action-btn right-button ">
            <a href="{% url "delete-command" object.pk %}" id="btn_play"
               class="btn-floating btn-large waves-effect waves-light red">
                <i class="material-icons">delete</i></a>
        </div>
    {% endif %}
    <div class="fixed-action-btn left-button ">
        <a href="{% url "commands" %}" id="btn_play"
           class="btn-floating btn-large waves-effect waves-light grey">
            <i class="material-icons">arrow_back</i></a>
    </div>
{% endblock %}


{% load staticfiles %}
{% load compress %}

{% block extraStyles %}
    {% compress css %}
        <link rel="stylesheet" href="{% static "css/select2-materialize.css" %}">
    {% endcompress %}
{% endblock %}

{% block extraScripts %}
    {% compress js %}
        <script type="text/javascript" src="{% static "js/select2.full.min.js" %}"></script>
        <script type="text/javascript">
            var _arguments = [];
            {#  - - - - -- - -  Only for edit instance - - - - - - - - #}
            {% if  command %}
                var _btn_update = document.getElementById('btn_update');
            {% endif %}
            {#  - - - - -- - -  END edit instance - - - - - - - - #}

            $('.modal').modal();

            var _table_container = document.getElementById('tableContainer');
            var _btn_create = document.getElementById('btn_create');

            function parseReults(results) {
                var _print = "Getting info . . .";
                if (results.name) {
                    _print = results.name + ' - ' + results.description
                }
                return _print
            }

            /* Open modal window for add new argument */
            $("#argument_modal, #argument_modal_ext").click(function(){
                $.ajax({
                    url: "/arguments/{{ object.id }}/new",
                    type: "GET",
                    data: {},
                    success: function (data) {
                        $("#form_argument").html(data);
                        $('#id_include, #id_exclude').select2();
                    }, error: function (err) {
                        if (err.responseJSON.name) {
                            (err.responseJSON.name).forEach(function (v) {
                                drawMessage("Name: " + v, 'red');
                            })
                        }
                    }
                });
            });

            /* Remove dynamically the content of the form */
            function removeFormArgument(){
                $("#form_argument").html("");
            }

            /* Populating new row of argument data added */
            function populateObj(data) {
                _arguments.push({
                    "id": data.id,
                    "name": data.name,
                    "description": data.description,
                    "needs_value": data.needs_value,
                    "requirement": data.requirement
                });

                _table_container = document.getElementById('tableContainer');
                _table_container.classList.remove("hide");
                drawArguments(data);
            }

            /* Creation of new row for the table of arguments */
            /* Creation of new modal hidden space for update recent argument added */
            function drawArguments(data) {
                var _tr_params = document.createElement('tr');
                var _td_param = document.createElement('td');
                var _td_help = document.createElement('td');
                var _td_required = document.createElement('td');
                var _td_needs = document.createElement('td');
                var _td_option = document.createElement('td');
                var _delete_icon = document.createElement('i');
                var _anchor = document.createElement('a');

                _tr_params.setAttribute('id', "arg_" + data.id);
                _td_param.setAttribute('id', "arg_name_" + data.id);
                _td_help.setAttribute('id', "arg_description_" + data.id);
                _td_required.setAttribute('id', "arg_required_" + data.id);
                _td_needs.setAttribute('id', "arg_needs_value_" + data.id);
                _anchor.setAttribute('id', "argument_modal_" + data.id);
                _anchor.setAttribute('href', "#modalArgument_" + data.id);
                _anchor.setAttribute('class', "modal-trigger");
                _anchor.setAttribute('onclick', "openModal(" + data.id + ")");

                _delete_icon.setAttribute('class', 'material-icons red-text manita');
                _delete_icon.setAttribute('onClick', 'deleteArgument(' + data.id + ')');
                _delete_icon.appendChild(document.createTextNode('close'));

                _td_param.appendChild(_anchor);
                _anchor.appendChild(document.createTextNode(data.name));
                _td_help.appendChild(document.createTextNode(data.description));
                _td_required.appendChild(document.createTextNode(data.requirement));
                _td_needs.appendChild(document.createTextNode(data.needs_value));
                _td_option.appendChild(_delete_icon);

                _tr_params.appendChild(_td_param);
                _tr_params.appendChild(_td_help);
                _tr_params.appendChild(_td_required);
                _tr_params.appendChild(_td_needs);
                _tr_params.appendChild(_td_option);

                document.getElementById('params_table').appendChild(_tr_params);

                /* Creation of modal div for the new argument */
                var _div_modalArgument = document.createElement('div');
                var _div_modalContent = document.createElement('div');
                var _h4_modalTitle = document.createElement('h4');
                var _form_modalForm = document.createElement('form');
                var _div_modalFooter = document.createElement('div');
                var _button_cancel = document.createElement('button');
                var _button_update = document.createElement('button');

                _div_modalArgument.setAttribute('id', "modalArgument_" + data.id);
                _div_modalArgument.setAttribute('class', "modal modal-fixed-footer");
                _div_modalContent.setAttribute('class', "modal-content");
                _form_modalForm.setAttribute('id', "form_argument_" + data.id);
                _div_modalFooter.setAttribute('class', "modal-footer");
                _button_cancel.setAttribute('type', "button");
                _button_cancel.setAttribute('class', "modal-action modal-close waves-effect waves-green btn-flat");
                _button_update.setAttribute('type', "button");
                _button_update.setAttribute('href', "#!");
                _button_update.setAttribute('class', "waves-effect waves-green btn");
                _button_update.setAttribute('onclick', "editArgument(" + data.id + ")");

                _div_modalArgument.appendChild(_div_modalContent);
                _div_modalArgument.appendChild(_div_modalFooter);
                _div_modalContent.appendChild(_h4_modalTitle);
                _div_modalContent.appendChild(_form_modalForm);
                _h4_modalTitle.appendChild(document.createTextNode("Update Argument"));
                _div_modalFooter.appendChild(_button_cancel);
                _div_modalFooter.appendChild(_button_update);
                _button_cancel.appendChild(document.createTextNode("Cancel"));
                _button_update.appendChild(document.createTextNode("Update"));

                document.getElementById('argumentsModal').appendChild(_div_modalArgument);

                $("#modalArgument_" + data.id).modal();
            }

            /* Open modal window for update an argument */
            function openModal(id){
                $.ajax({
                    url: "/arguments/" + id + "/",
                    type: "GET",
                    data: {},
                    success: function (data) {
                        $("#form_argument_" + id).html(data);
                        $('#id_include, #id_exclude').select2();
                    }, error: function (err) {
                        if (err.responseJSON.name) {
                            (err.responseJSON.name).forEach(function (v) {
                                drawMessage("Name: " + v, 'red');
                            })
                        }
                    }
                });
            }

            /* Deleting argument should remove the row and the hidden modal form */
            function deleteArgument(id) {
                if (confirm('Are you sure you want to delete this argument from the database?')) {
                    /* Delete the param row (tr)*/
                    var arg_name = $("#arg_name_" + id).text();
                    var _element = document.getElementById("arg_" + id);
                    _arguments.splice(id, 1);
                    _element.parentNode.removeChild(_element);
                    if ($("#params_tab td").length < 1) {
                        _table_container.classList.add("hide");
                        $("#params_tab").hide();
                    }
                    $.ajax({
                        url: "/arguments/" + id + "/delete/",
                        type: "POST",
                        data: {},
                        success: function (data) {
                            drawMessage("Arg '" + arg_name + "' Deleted", 'red');
                            $("#form_argument_" + id).parent().parent().remove();
                        }, error: function (err) {
                            if (err.responseJSON.name) {
                                (err.responseJSON.name).forEach(function (v) {
                                    drawMessage("Name: " + v, 'red');
                                })
                            }
                        }
                    });
                }
            }

            /* Sending the data argument to the server to add into the database */
            function createArgument() {
                $.ajax({
                    url: "{% url "api-arguments" %}",
                    type: "POST",
                    data: {
                        command: document.getElementById('id_command').value,
                        name: document.getElementById('args_name').value,
                        description: document.getElementById('args_description').value,
                        needs_value: document.getElementById('id_needs_value').checked,
                        requirement: document.getElementById('id_requirement').checked,
                        include: $('#id_include').val(),
                        exclude: $('#id_exclude').val()
                    }, success: function (data) {
                        drawMessage("Argument '" + data.name + "' Created", 'green');
                        $('#modalArgument').modal('close');
                        removeFormArgument();
                        $("#params_tab").show();/* The first argument added */
                        populateObj(data);
                    }, error: function (err) {
                        if (err.responseJSON.name) {
                            (err.responseJSON.name).forEach(function (v) {
                                drawMessage("Name: " + v, 'red');
                            })
                        }
                    }
                });
            }

            /* Sending data to server to edit an argument */
            function editArgument(id) {
                var command = document.getElementById('id_command').value;
                var name = document.getElementById('args_name').value;
                var description = document.getElementById('args_description').value;
                var needs_value = document.getElementById('id_needs_value').checked;
                var requirement = document.getElementById('id_requirement').checked;
                $.ajax({
                    url: "/arguments/" + id + "/",
                    type: "POST",
                    data: {
                        command: document.getElementById('id_command').value,
                        name: document.getElementById('args_name').value,
                        description: document.getElementById('args_description').value,
                        needs_value: document.getElementById('id_needs_value').checked,
                        requirement: document.getElementById('id_requirement').checked,
                        include: $('#id_include').val(),
                        exclude: $('#id_exclude').val()
                    }, success: function (data) {
                        drawMessage("Argument '" + name + "' Updated", 'green');
                        $('#modalArgument_' + id).modal('close');
                        $("#form_argument_" + id).html("");
                        $("#arg_name_" + id + " a").text(name);
                        $("#arg_description_" + id).text(description);
                        $("#arg_required_" + id).text(requirement);
                        $("#arg_needs_value_" + id).text(needs_value);
                    }, error: function (err) {
                        if (err.responseJSON.name) {
                            (err.responseJSON.name).forEach(function (v) {
                                drawMessage("Name: " + v, 'red');
                            })
                        }
                    }
                });
            }

            /* Check if minimal conditions success to create command */
            function checkFieldsRequirements() {
                if (document.getElementById('id_name').value &&
                    ($('#id_source').val()).length
                ) {
                    return true;
                } else {
                    drawMessage("Name and Source are required", "yellow black-text");
                    return false;
                }
            }

            /* Sending data to server to create a new command */
            function createCommand() {
                if (checkFieldsRequirements()) {
                    var _data = {
                        "name": document.getElementById('id_name').value,
                        "description": document.getElementById('id_description').value,
                        "source": JSON.stringify($('#id_source').val()),
                        "extra": 1
                    };
                    $.ajax({
                        url: "{% url "api-commands" %}",
                        type: 'POST',
                        data: _data,
                        success: function (data) {
                            if (data.id) {
                                window.location.href = '{% url "commands" %}';
                            }
                        }, error: function (err) {
                            if (err.responseJSON.name) {
                                (err.responseJSON.name).forEach(function (v) {

                                    drawMessage("Name: " + v, 'red');
                                })
                            }
                        }
                    })
                }

            }

            /* Sending data to server to update an existing command */
            function updateCommand() {
                if (checkFieldsRequirements()) {
                    var _data = {
                        "name": document.getElementById('id_name').value,
                        "description": document.getElementById('id_description').value,
                        "source": JSON.stringify($('#id_source').val()),
                        "extra": 1
                    };
                    $.ajax({
                        url: "/apis/commands/{{ command.pk }}/",
                        type: 'PUT',
                        data: _data,
                        success: function (data) {
                            if (data.id) {
                                window.location.href = '{% url "commands" %}';
                            }
                        }, error: function (err) {
                            if (err.responseJSON.name) {
                                (err.responseJSON.name).forEach(function (v) {

                                    drawMessage("Name: " + v, 'red');
                                })
                            }
                        }
                    })
                }

            }
            {% if "Create" in title %}
                _btn_create.disabled = false;
            {% endif %}
        </script>
    {% endcompress %}
{% endblock %}
