{% extends "base.html" %}
{% block title %}Phases{% endblock %}{% block subtitle %}Phases{% endblock %}
{% load permission_tags %}
{% block content %}
    <div class="container">
        <table class="datatable">
            <thead>
            <tr>
                <th>Name</th>
                <th>Options</th>
            </tr>
            </thead>
        </table>
        {% if user|can:'create_phases' %}
            <div class="fixed-action-btn">
                <a href="{% url "new-phase" %}"
                   class="btn-floating btn-large waves-effect waves-light blue-grey tooltipped" data-position="left"
                   data-tooltip="New Keyword"><i class="material-icons">add</i></a>
            </div>
        {% endif %}
    </div>
{% endblock %}
{% load staticfiles %}
{% block extraStyles %}
    <link rel="stylesheet" href="{% static "css/dataTablesMaterial.css" %}">
{% endblock %}
{% block extraScripts %}
    <script src="{% static "js/datatables.min.js" %}"></script>
    <script src="{% static "js/DTBoilerPlate.js" %}"></script>
    <script>
        $(document).ready(function () {
            var config = [{
                "targets": 1,
                data: function (row) {
                    return "<div>" +
                        {% if user|can:'update_phases' %}
                            "<a class='btn' href='/phases/" + row[1] + "/edit/'><i class='material-icons'>edit</i></a>"
                            +
                        {% endif %}
                        {% if user|can:'delete_phases' %}
                            "   " +
                            "<a class='btn red' href='/phases/" + row[1]
                            + "/delete/'><i class='material-icons'>delete</i></a>" +
                        {% endif %}
                        "</div>";
                }
            }];
            dtStart("{% url "api-phases-list" %}", config)
        });
    </script>
{% endblock %}