{% extends "registration/base_registration.html" %}
{% block title %}Request Access{% endblock %}
{% load staticfiles %}
{% block content %}
    <main class="container">
        <div class="section">
            <div class="row">
                <div class="col s12 offset-l4 l4">
                    <img src="{% static "img/logo.svg" %}" alt="logo_ibm" class="login_img">
                </div>
            </div>
            <div class="row">
                <div class="col s12 offset-l3 l6 card">
                    <div class="card-content">
                        <form action="{% url "request-access" %}" method="post">
                            {% include "form-snippet.html" %}
                            <div class="center">
                                <a href="{% url "login" %}" class="btn blue-grey">Back</a>
                                <input type="submit" value="Send Request" class="btn"/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>

<footer class="page-footer blue-grey darken-1" style="position:fixed;bottom:0;left:0;width:100%;">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <p class="grey-text text-lighten-4">
                    <img src="{% static "img/xolo.svg" %}" class="responsive-img" alt="xolo" width="80px">
                    <img src="{% static "img/logo.svg" %}" class="responsive-img" alt="xolo" width="80px">
                    © 2018 Copyright
                </p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Quick Links</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="#!">We are Open Source</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Your history</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Partners</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <div class="center">
            Platform Version {{ PLATFORM_VERSION }}
            </div>

        </div>
    </div>
</footer>
{% endblock %}
{% block extraJS %}
    <script>
        $('select').material_select();
    </script>
{% endblock %}