.line-box {
    background-color: #546e7a;
    padding: 1rem;
    color: #fff;
    text-align: center;
}

@media (min-width: 1400px) {  
    .line-box {
        margin-top: 5rem;
    }
}

@media (min-width: 1600px) {  
    .line-box {
        margin-top: 15rem;
    }
}

@media (min-width: 1800px) {  
    .line-box {
        margin-top: 20rem;
    }
}