server {
    listen ${NGINX_PORT};

    location /static {
        alias /var/www/static;
    }

    location /media {
        alias /var/www/media;
    }

    location / {
        uwsgi_pass ${BLUEXOLO_HOST}:${BLUEXOLO_PORT};
        include /etc/nginx/uwsgi_params;
    }
    
    client_max_body_size 0;
}