{% load static %}
{% load compress %}

<div class="col s12">
    <ul class="tabs center">
        <li class="tab"><a href="#login"> Login </a></li>
        <li class="tab"><a href="#products"> Products </a></li>
        <li class="tab"><a href="#oscommands"> OS Commands </a></li>
        <li class="tab"><a href="#roboversion"> Robot Version </a></li>
        <li class="tab"><a href="#libraries"> Extract Libraries </a></li>
        <li class="tab"><a href="#phases"> Phase </a></li>
        <li class="tab"><a href="#template"> Template </a></li>
        <li class="tab"><a href="#profile"> Profile </a></li>
        <li class="tab"><a href="#parameters"> Parameters </a></li>
    </ul>
</div>

<div id="login" class="col s12 center-align">
    <div style="color: white; width: 100%; font-size: 25px; padding: 10px;" class="blue-grey center-align">
        Login Request Access
    </div>
    <div align="center">
        <div style="border-color: #607d8b; border-style: solid; padding: 5px;">
            <p>
                If you already have an account login to BlueXolo
                <br>
                if you don't have an account or you forgot your password please continue with the guide to know how to request access
            </p>
        </div>
        
        <img width="50%" height="50%"  src="{% static "img/login-1.png" %}" alt="product">
    </div>

    <div style="color: white; width: 100%; font-size: 25px; padding: 10px;" class="blue-grey center-align">
        Request Access
    </div>
    <div align="center">
        <div style="border-color: #607d8b; border-style: solid; padding: 5px;">
            <p>
                In order to request acess to the tool, click the "Request Access" button.
            </p>
        </div>
        
        <img width="50%" height="50%"  src="{% static "img/login-2.png" %}" alt="product">
    </div>

    <div style="color: white; width: 100%; font-size: 25px; padding: 10px;" class="blue-grey center-align">
        Request Access
    </div>
    <div align="center">
        <div style="border-color: #607d8b; border-style: solid; padding: 5px;">
            <p>
                Once you have accessed this menu, Introduce your email and select a product and click on "SEND REQUEST"
                <br>
                Onche your administrator have granted your access you will receive an email of authorization.
            </p>
        </div>
        
        <img width="50%" height="50%"  src="{% static "img/login-3.png" %}" alt="product">
    </div>

    <div style="color: white; width: 100%; font-size: 25px; padding: 10px;" class="blue-grey center-align">
        Request Access
    </div>
    <div align="center">
        <div style="border-color: #607d8b; border-style: solid; padding: 5px;">
            <p>
                Onche you have received the "Access Authorization" by your admin follow the instructions and assign your password and enjoy the tool!
            </p>
        </div>
        
        <img width="50%" height="50%"  src="{% static "img/login-4.png" %}" alt="product">
    </div>

    <div style="color: white; width: 100%; font-size: 25px; padding: 10px;" class="blue-grey center-align">
        Forgotten Password
    </div>
    <div align="center">
        <div style="border-color: #607d8b; border-style: solid; padding: 5px;">
            <p>
                In order to request a new password, click on he "I forgot my password" button.
            </p>
        </div>
        
        <img width="50%" height="50%"  src="{% static "img/login-5.png" %}" alt="product">
    </div>

    <div style="color: white; width: 100%; font-size: 25px; padding: 10px;" class="blue-grey center-align">
        Forgotten Password
    </div>
    <div align="center">
        <div style="border-color: #607d8b; border-style: solid; padding: 5px;">
            <p>
                Once you have received the email with the instructions, click on the link that come in the email follow the instructions and assign your password and enjoy the tool!
            </p>
        </div>
        
        <img width="50%" height="50%"  src="{% static "img/login-6.png" %}" alt="product">
    </div>

    <div style="color: white; width: 100%; font-size: 25px; padding: 10px;" class="blue-grey center-align">
        Access The Available Menus
    </div>
    <div align="center">
        <div style="border-color: #607d8b; border-style: solid; padding: 5px;">
            <p>
                Once you have login go to the left corner at the top of the page and click on the menu button to display the available menus.
            </p>
        </div>
        
        <img width="50%" height="50%"  src="{% static "img/login-7.png" %}" alt="product">
    </div>

</div>

<div id="products" class="col s12 center-align">

    <div style="color: white; width: 100%; font-size: 25px; padding: 10px;" class="blue-grey center-align">
        Display Menu
    </div>
    <div align="center">
        <div style="border-color: #607d8b; border-style: solid; padding: 5px;">
            <p>
                Once you have login go to the left corner at the top of the page and click on the menu button to display the available menus.
            </p>
        </div>
        
        <img width="50%" height="50%"  src="{% static "img/product-1.png" %}" alt="product">
    </div>

    <div style="color: white; width: 100%; font-size: 25px; padding: 10px;" class="blue-grey center-align">
        Getting the Product Commands
    </div>
    <div align="center">
        <div style="border-color: #607d8b; border-style: solid; padding: 5px;">
            <p>
                    Once you have displayed the menu look for the sources section and click on the ”Products” section.    
            </p>
        </div>
        
        <img width="50%" height="50%"  src="{% static "img/product-2.png" %}" alt="product">
    </div>

    <div style="color: white; width: 100%; font-size: 25px; padding: 10px;" class="blue-grey center-align">
            New Product
    </div>
    <div align="center">
        <div style="border-color: #607d8b; border-style: solid; padding: 5px;">
            <p>
                Once you have accessed go to the right section at bottom of the page and look for the button with the character “+” and click on it to create a new product.
            </p>
        </div>
        
        <img width="50%" height="50%"  src="{% static "img/product-3.png" %}" alt="product">
    </div>

    <div style="color: white; width: 100%; font-size: 25px; padding: 10px;" class="blue-grey center-align">
            Fill The Blanks
    </div>
    <div align="center">
        <div style="border-color: #607d8b; border-style: solid; padding: 5px;">
            <p>
                The regular expression help us to identify if the product commands follows the man page rules.
            </p>
        </div>
        
        <img width="50%" height="50%"  src="{% static "img/product-4.png" %}" alt="product">
    </div>

</div>

<div id="oscommands" class="col s12 center-align"> 
    <div style="color: white; width: 100%; font-size: 25px; padding: 10px;" class="blue-grey center-align">
        OS Commands
    </div>
    <div align="center">
        <div style="border-color: #607d8b; border-style: solid; padding: 5px;">
            <p>
                Once you have displayed the menu look for the sources section and click on the ”Commands” section.
            </p>
        </div>
        
        <img width="50%" height="50%"  src="{% static "img/oscommands-1.png" %}" alt="product">
    </div>
    
    <div style="color: white; width: 100%; font-size: 25px; padding: 10px;" class="blue-grey center-align">
        Extract the OS Commands
    </div>
    <div align="center">
        <div style="border-color: #607d8b; border-style: solid; padding: 5px;">
            <p>
                Once you have accessed go to the right section at bottom of the page and look for the button with the character “+” and click on it to display the available options, then click the green button to Extract the Command form your Operative System.    
            </p>
        </div>
        
        <img width="50%" height="50%" src="{% static "img/oscommands-2.png" %}" alt="product">
    </div>

    <div style="color: white; width: 100%; font-size: 25px; padding: 10px;" class="blue-grey center-align">
        Fill the blanks
    </div>
    <div align="center">
        <div style="border-color: #607d8b; border-style: solid; padding: 5px;">
            <p>
                In order to get the commands of your Operative System fill the following fields. 
                <br>
                Once you’ve filled the blanks with your system information go to the right corner at the bottom and click on the “RUN EXTRACT” button.     
            </p>
        </div>
        
        <img width="50%" height="50%" rc="{% static "img/oscommands-3.png" %}" alt="product">
    </div>
</div>

<div id="roboversion" class="col s12 center-align"> 
    <div style="color: white; width: 100%; font-size: 25px; padding: 10px;" class="blue-grey center-align">
        Robot Version
    </div>
    <div align="center">
        <div style="border-color: #607d8b; border-style: solid; padding: 5px;">
            <p>
                Once you have displayed the menu look for the sources section and click on the ”Robot Framework” section.
            </p>
        </div>
        
        <img width="50%" height="50%" src="{% static "img/robotversion-1.png" %}" alt="product">
    </div>

    <div style="color: white; width: 100%; font-size: 25px; padding: 10px;" class="blue-grey center-align">
        Specify the Version
    </div>
    <div align="center">
        <div style="border-color: #607d8b; border-style: solid; padding: 5px;">
            <p>
                Insert the Robot Framework Version and click on the “CREATE” button.    
            </p>
        </div>
        
        <img width="50%" height="50%" src="{% static "img/robotversion-2.png" %}" alt="product">
    </div>
</div>


<div id="libraries" class="col s12 center-align"> 
    <div style="color: white; width: 100%; font-size: 25px; padding: 10px;" class="blue-grey center-align">
        Extract Libraries
    </div>
    <div align="center">
        <div style="border-color: #607d8b; border-style: solid; padding: 5px;">
            <p>
                Once you have displayed the menu look for the sources section and click on the ”Libraries” section.
            </p>
        </div>
        
        <img width="50%" height="50%" src="{% static "img/libraries-1.png" %}" alt="product">
    </div>

    <div style="color: white; width: 100%; font-size: 25px; padding: 10px;" class="blue-grey center-align">
        Add new Library
    </div>
    <div align="center">
        <div style="border-color: #607d8b; border-style: solid; padding: 5px;">
            <p>
                Once you have accessed go to the right section at bottom of the page and look for the button with the character “+” and click on it to create a new Library.
            </p>
        </div>
        
        <img width="50%" height="50%" src="{% static "img/libraries-2.png" %}" alt="product">
    </div>

    <div style="color: white; width: 100%; font-size: 25px; padding: 10px;" class="blue-grey center-align">
        Fill the blanks
    </div>
    <div align="center">
        <div style="border-color: #607d8b; border-style: solid; padding: 5px;">
            <p>
                URL example: 
                <a href="http://robotframework.org/robotframework/latest/libraries/BuiltIn.html" target="_blank"> Robot Library </a>
                <br><br>
                In order to get a library fill the following fields. 
                <br>
                (You can also extract the commands from the local server)
            </p>
        </div>
        
        <img width="50%" height="50%" src="{% static "img/libraries-3.png" %}" alt="product">
    </div>
</div>

<div id="phases" class="col s12 center-align">
    <div style="color: white; width: 100%; font-size: 25px; padding: 10px;" class="blue-grey center-align">
        Create Phase
    </div>
    <div align="center">
        <div style="border-color: #607d8b; border-style: solid; padding: 5px;">
            <p>
                Once you have displayed the menu look for the sources section and click on the ”Phases” section.
            </p>
        </div>
        
        <img width="50%" height="50%" src="{% static "img/phases-1.png" %}" alt="product">
    </div>
    
    <div style="color: white; width: 100%; font-size: 25px; padding: 10px;" class="blue-grey center-align">
        Add new Phase
    </div>
    <div align="center">
        <div style="border-color: #607d8b; border-style: solid; padding: 5px;">
            <p>
                Once you have accessed go to the right section at bottom of the page and look for the button with the character “+” and click on it to create a new Phase.
            </p>
        </div>
        
        <img width="50%" height="50%" src="{% static "img/phases-2.png" %}" alt="product">
    </div>
    
    <div style="color: white; width: 100%; font-size: 25px; padding: 10px;" class="blue-grey center-align">
        Creating a new Phase
    </div>
    <div align="center">
        <div style="border-color: #607d8b; border-style: solid; padding: 5px;">
            <p>
                In order to create a new “Phase” assign a name after that select the product we just create previously.
                <br>
                Once you’ve filled the blanks click on the “CREATE” button.                            
            </p>
        </div>
        
        <img width="50%" height="50%" src="{% static "img/phases-3.png" %}" alt="product">
    </div>
</div>

<div id="template" class="col s12 center-align">
    <div style="color: white; width: 100%; font-size: 25px; padding: 10px;" class="blue-grey center-align">
        Create Template
    </div>
    <div align="center">
        <div style="border-color: #607d8b; border-style: solid; padding: 5px;">
            <p>
                Once you have displayed the menu look for the servers section and click on the ”Templates” section.
            </p>
        </div>
        
        <img width="50%" height="50%" src="{% static "img/template-1.png" %}" alt="product">
    </div>

    <div style="color: white; width: 100%; font-size: 25px; padding: 10px;" class="blue-grey center-align">
        Add a new Template
    </div>
    <div align="center">
        <div style="border-color: #607d8b; border-style: solid; padding: 5px;">
            <p>
                Once you have accessed go to the right section at bottom of the page and look for the button with the character “+” and click on it to create a new Template.
            </p>
        </div>
        
        <img width="50%" height="50%" src="{% static "img/template-2.png" %}" alt="product">
    </div>

    <div style="color: white; width: 100%; font-size: 25px; padding: 10px;" class="blue-grey center-align">
        Creating a new Template
    </div>
    <div align="center">
        <div style="border-color: #607d8b; border-style: solid; padding: 5px;">
            <p>
                In order to create a new “Template” we need to define what kind of Variable we are going to use according to the task we want to execute to select a “Category Group”
            </p>
        </div>
        
        <img width="50%" height="50%" src="{% static "img/template-3.png" %}" alt="product">
    </div>
</div>

<div id="profile" class="col s12 center-align">
    <div style="color: white; width: 100%; font-size: 25px; padding: 10px;" class="blue-grey center-align">
        Create Profile
    </div>
    <div align="center">
        <div style="border-color: #607d8b; border-style: solid; padding: 5px;">
            <p>
                Once you have displayed the menu look for the servers section and click on the "Profiles" section
            </p>
        </div>
        
        <img width="50%" height="50%" src="{% static "img/profile-1.png" %}" alt="product">
    </div>

    <div style="color: white; width: 100%; font-size: 25px; padding: 10px;" class="blue-grey center-align">
        Add a new Profile
    </div>
    <div align="center">
        <div style="border-color: #607d8b; border-style: solid; padding: 5px;">
            <p>
                Onche you have accessed go to the right section at bottom of the page and look for the button with the caracter "+" and click on it to create a new profile
            </p>
        </div>
        
        <img width="50%" height="50%" src="{% static "img/profile-2.png" %}" alt="product">
    </div>

    <div style="color: white; width: 100%; font-size: 25px; padding: 10px;" class="blue-grey center-align">
        Creating a new Profile
    </div>
    <div align="center">
        <div style="border-color: #607d8b; border-style: solid; padding: 5px;">
            <p>
                In order to create a new "Profile" we need to assign a Name a brief description of the Profile, select one of the "Templates" that we already generate
            </p>
        </div>
        
        <img width="50%" height="50%" src="{% static "img/profile-3.png" %}" alt="product">
    </div>

    <div style="color: white; width: 100%; font-size: 25px; padding: 10px;" class="blue-grey center-align">
        Creating a new Profile
    </div>
    <div align="center">
        <div style="border-color: #607d8b; border-style: solid; padding: 5px;">
            <p>
                Once you have selected the "Template" the variables allocated on it will be displayed on the right side, As a user you need to fill the require variables and press "Create"
            </p>
        </div>
        
        <img width="50%" height="50%" src="{% static "img/profile-4.png" %}" alt="product">
    </div>
    
</div>

<div id="parameters" class="col s12 center-align">
    <div style="color: white; width: 100%; font-size: 25px; padding: 10px;" class="blue-grey center-align">
        Creating Parameters
    </div>
    <div align="center">
        <div style="border-color: #607d8b; border-style: solid; padding: 5px;">
            <p>
                Once you have displayed the menu look for the servers section and click on the "Parameters" section.
            </p>
        </div>
        
        <img width="50%" height="50%" src="{% static "img/parameters-1.png" %}" alt="product">
    </div>

    <div style="color: white; width: 100%; font-size: 25px; padding: 10px;" class="blue-grey center-align">
        Add New Profile
    </div>
    <div align="center">
        <div style="border-color: #607d8b; border-style: solid; padding: 5px;">
            <p>
                Once you have accessed go to the right section at bottom of the page and look for the button with the character "+" and click on it to create a new parameter template.
            </p>
        </div>
        
        <img width="50%" height="50%" src="{% static "img/parameters-2.png" %}" alt="product">
    </div>

    <div style="color: white; width: 100%; font-size: 25px; padding: 10px;" class="blue-grey center-align">
        Creating New Parameter
    </div>
    <div align="center">
        <div style="border-color: #607d8b; border-style: solid; padding: 5px;">
            <p>
                In order to create a new "Parameter" we need t oselect a Category Group, assign Name, brief Description of the parameter and click the save button.
                <br>
                We can add as many parameters as needed for our execution.
                <br>
                <b>
                    Take into cosideration that the parameters need to be assigned to a "Category Group" and they can only be used under that category
                </b>
            </p>
        </div>
        
        <img width="50%" height="50%" src="{% static "img/parameters-3.png" %}" alt="product">
    </div>
    
</div>
