{% load staticfiles %}
<footer class="page-footer blue-grey darken-1" style="position:fixed;bottom:0;left:0;width:100%;">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <p class="grey-text text-lighten-4">
                    <img src="{% static "img/xolo.svg" %}" class="responsive-img" alt="xolo" width="80px">
                    <img src="{% static "img/logo.svg" %}" class="responsive-img" alt="xolo" width="80px">
                    © 2018 Copyright
                </p>
            </div>
            <div class="col l2 offset-l2 s12">
                <h5 class="white-text">Quick Links</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" target="blank" href="https://www.ibm.com/opensource/">We are Open Source</a></li>
                    <li><a class="grey-text text-lighten-3" target="blank" href="https://github.ibm.com/blue-xolo/blue-xolo-framework/wiki">Bluexolo Wiki</a></li>
                    <li><a class="grey-text text-lighten-3" target="blank" href="https://ibm.github.io/BlueXolo/">Documentation Website</a></li>
                </ul>
            </div>
            <div class="col l2" style="padding-top: 40px;">
                <ul>
                    <li><a class="grey-text text-lighten-3" target="blank" href="https://groups.google.com/forum/#!forum/bluexolo">Google Group</a></li>
                    <li><a class="grey-text text-lighten-3" target="blank" href="https://github.com/IBM/BlueXolo">GitHub Repository</a></li>
                    <li><a class="grey-text text-lighten-3" target="blank" href="https://www.youtube.com/channel/UCnCOvCcx3VH88wGxeYJ-qQQ">YouTube Channel</a></li>
                </ul>
            </div>
        </div>
    </div>
    {% if PLATFORM_VERSION %}
        <div class="footer-copyright">
            <div class="container">
                <div class="center">
                    Platform Version {{ PLATFORM_VERSION }}
                </div>
            </div>
        </div>
    {% endif %}
</footer>