{% csrf_token %}
{% for field in form %}
    <div>
        <ul>
            {% for error in field.errors %}
                <li class="red-text"><i>{{ error }}</i></li>
            {% endfor %}
        </ul>
    </div>

    {% if not field.is_hidden %}
        {% if field.field.widget.input_type == 'checkbox' %}
            <P>{{ field }}
                <label for="{{ field.id_for_label }}">
                    {{ field.label }}{% if field.field.required %}<b class="red-text">*</b>{% endif %}</label>
            </P>
        {% else %}
            {% if field.field.widget.input_type == "file" %}
                <div class="file-field">
                    <div class="btn blue-grey">
                        <span>{{ field.label }} {% if field.field.required %}*{% endif %}</span>
                        {{ field }}
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text" >
                    </div>
                </div>
            {% else %}
                    <label for="{{ field.id_for_label }}">
                        {{ field.label }}
                        {% if field.field.required %}
                            <b class="red-text">*</b>
                        {% endif %}
                    </label>
                    {{ field }}
            {% endif %}
        {% endif %}
        {% if  field.help_text %}
            <div>
                <span>{{ field.help_text }}</span>
            </div>
        {% endif %}
    {% else %}
        {{ field }}
    {% endif %}
{% endfor %}