{% csrf_token %}
{% for field in form %}
    <div>
        <ul>
            {% for error in field.errors %}
                <li class="red-text"><i>{{ error }}</i></li>
            {% endfor %}
        </ul>
    </div>

    {% if not field.is_hidden %}
        {% if field.field.widget.input_type == 'checkbox' %}
            <P>{{ field }}
                <label for="{{ field.id_for_label }}">
                    {{ field.label }}{% if field.field.required %}<b class="red-text">*</b>{% endif %}</label>
            </P>
        {% else %}
            <div class="col s12 m6 l4 ">
                <label for="{{ field.id_for_label }}">
                    {{ field.label }}
                    {% if field.field.required %}
                        <b class="red-text">*</b>
                    {% endif %}
                </label>
                {{ field }}
            </div>
        {% endif %}
        {% if  field.help_text %}
            <div>
                <span>{{ field.help_text }}</span>
            </div>
        {% endif %}
    {% else %}
        {{ field }}
    {% endif %}
{% endfor %}