{% if messages %}
    {% for message in messages %}
        <script type="text/javascript">
            var _class = '';
            if ("{{ message.tags }}" === "error") {
                _class = "red"
            } else if ("{{ message.tags }}" === "warning") {
                _class = "yellow"
            } else if ("{{ message.tags }}" === "success") {
                _class = "green"
            } else if ("{{ message.tags }}" === "info") {
                _class = "blue"
            }
            var $toastContent = $('<span>{{ message }}</span>');
            Materialize.toast($toastContent, 12000, _class);
        </script>
    {% endfor %}
{% endif %}