{% extends "base.html" %}
{% block title %}Create Server Profile{% endblock %}
{% block subtitle %}Create Server Profile{% endblock %}
{% block content %}
    <div class="container">
        {% csrf_token %}
        <div class="row">
            <div class="col s12 l6 card">
                <div class="card-content">
                    <form method="POST">
                        {% include "form-snippet.html" %}
                    </form>
                </div>
            </div>
            <div class="col s12 l1">

            </div>
            <div class="col s12 l4 card">
                <div class="card-content">
                    <div class="row">
                        <div class="col s12 ">
                            <h4 class="card-title">Parameters</h4>
                            <ul id="paramsList"></ul>
                            <code class="grey-text">* Only the parameters with value will be saved</code>
                        </div>
                    </div>
                    <div class="section">

                        <div class="center">
                            <button class="btn" type="button" disabled id="btn_create" onclick="saveProfile()">Create
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="fixed-action-btn left-button ">
        <a href="{% url "servers-profiles" %}" id="btn_play"
           class="btn-floating btn-large waves-effect waves-light grey tooltipped" data-position="right"
           data-tooltip="Back to Profile List">
            <i class="material-icons">arrow_back</i></a>
    </div>
{% endblock %}

{% block extraScripts %}
    <script type="text/javascript">
        var _select = document.getElementById('id_template');
        var _name = document.getElementById('id_name');
        var _desc = document.getElementById('id_description');
        var _categories = ['Global Variable', 'Node Launcher'];

        _select.onchange = getParams;

        function getParams() {
            if (_select.value) {
                $.ajax({
                    url: "/apis/templates/" + _select.value,
                    type: "GET",
                    success: function (data) {
                        showParams(JSON.parse(data.parameters))
                    }, error: function (err) {
                        console.log(err)
                    }
                })
            }

        }

        function showParams(params) {
            var _containerList = document.getElementById('paramsList');
            _containerList.innerHTML = '';
            params.forEach(function (v, k) {
                var _listElement = document.createElement('li');
                var _txtParam = document.createElement('span');
                _txtParam.innerHTML = v.parameter;
                _listElement.appendChild(_txtParam);
                if (v.help_text) {
                    var _help_icon = document.createElement('i');
                    _help_icon.setAttribute('class', 'material-icons tiny blue-grey-text');
                    _txtParam.setAttribute('data-tooltip', v.help_text);
                    _txtParam.setAttribute('class', 'tooltipped');
                    _help_icon.innerHTML = 'help';
                    _txtParam.appendChild(_help_icon);
                }
                var _categoryTxt = document.createElement('span');
                _categoryTxt.setAttribute('class', 'blue-grey-text');
                _categoryTxt.innerHTML = _categories[v.category - 1];
                _txtParam.appendChild(_categoryTxt);
                if (v.value_type === '2') {
                    var _chip = createChips(v);
                    _listElement.appendChild(_chip);
                } else {
                    var _input_value = document.createElement('input');
                    _input_value.setAttribute('type', 'Text');
                    if (v.category === '1') {
                        _input_value.setAttribute('class', 'category1 param_val');
                    } else {
                        _input_value.setAttribute('class', 'category2 param_val');
                    }
                    _input_value.setAttribute('placeholder', 'put a ' + v.parameter + ' value');
                    _input_value.setAttribute('id', v.parameter);
                    _listElement.appendChild(_input_value);
                }

                _containerList.appendChild(_listElement)
            });
            document.getElementById('btn_create').disabled = false;
            $('.tooltipped').tooltip({delay: 20});

            $('.chips').material_chip();
        }

        function createChips(data) {
            var _chipContainer = document.createElement('div');
            _chipContainer.setAttribute('id', data.parameter);
            if (data.category === '1') {
                _chipContainer.setAttribute('class', 'category1 chips param_val');
            } else {
                _chipContainer.setAttribute('class', 'category2 chips param_val');
            }
            _chipContainer.setAttribute('placeholder', 'Press Enter after write a value');
            return _chipContainer;
        }

        function saveProfile() {
            /*First we obtain every value from inputs parameters*/
            var _values;
            var _params = [];
            var _cont;
            var _inputs = document.getElementsByClassName('param_val');


            for (_cont = 0; _cont < _inputs.length; _cont++) {
                var _category = 2;
                if (_inputs[_cont].classList.contains('category1')) {
                    _category = 1;
                }
                if (_inputs[_cont].classList.contains('chips')) {
                    var _chips_values = [];
                    var _chipId = _inputs[_cont].getAttribute('id');
                    var _chipData = $('#' + _chipId + '').material_chip('data');
                    _chipData.forEach(function (v, k) {
                        _chips_values.push(v);
                    });
                    if (_chips_values.length) {
                        _params.push({
                            parameter: _chipId,
                            category: _category,
                            value: _chips_values
                        });
                    }
                }
                if (_inputs[_cont].value) {
                    /*Save only if user write a value on parameter*/
                    _params.push({
                        parameter: _inputs[_cont].id,
                        category: _category,
                        value: _inputs[_cont].value
                    })
                }
            }
            _values = {
                "name": _name.value,
                "description": _desc.value,
                "template": _select.value,
                "config": JSON.stringify(_params)
            };
            $.ajax({
                url: "{% url "api-profiles" %}",
                type: "POST",
                data: _values,
                success: function (data) {
                    window.location.replace("{% url "servers-profiles" %}");
                }, error: function (err) {
                    console.log(err)
                }
            });
        }
    </script>
{% endblock %}