{% extends "base.html" %}
{% block title %}Delete Template {% endblock %}
{% block subtitle %}Delete Template {% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col s12 offset-l3 l6 card">
                <div class="card-content">
                    <form action="" method="POST">
                        {% csrf_token %}
                        <p class="card-title">Are you sure you want to delete the follow Template?</p>
                        <ul>
                            <li><b>Name:</b> {{ object.name }}</li>
                            {% if object.description %}
                                <li><b>Description:</b> {{ object.description }}</li>
                            {% endif %}
                            {% if object.parameters.exists %}
                                <li><b>Parameters:</b>
                                    <ul>
                                        {% for param in object.parameters.all %}
                                            <li>{{ param.name }}</li>
                                        {% endfor %}

                                    </ul>
                                </li>
                            {% endif %}
                            {% if object.serverprofile_set.exists %}
                            <li><b>Profiles:</b>
                                <ul>
                                    {% for profile in object.serverprofile_set.all %}
                                    <li>{{ profile.name }}</li>
                                    {% endfor %}
                                </ul>
                            </li>
                            {% endif %}
                        </ul>
                        <div class="center">
                            {% if object.serverprofile_set.exists %}
                            <div>
                                You can't delete this template because one or more profiles are linked to it
                            </div>
                            {% else %}
                                <input type="submit" value="Confirm" class="btn red"/>
                            {% endif %}
                            <a href="{% url "servers-templates" %}" class="btn blue-grey"> Back</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}