{% extends "base.html" %}
{% block title %}Create Server Template{% endblock %}
{% block subtitle %}Create Server Template{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col s12 ">
                <form novalidate>
                    {% csrf_token %}
                    {% include "form-snippet-horizontal.html" %}
                </form>
            </div>
        </div>

        <div class="row card">
            <div class="col s12 card-content">
                <h4 class="card-title">Parameters</h4>
                <div class="col s12 l4">
                    <div class="input-field">
                        <select id="parameter-search">
                        </select>
                    </div>
                    <div class="section">
                        <code class="blue-grey-text">
                            * You can add parameters if not found.
                        </code>
                        <br>
                    </div>
                    <div class="center">

                        <!-- Modal Trigger -->
                        <a href="#modalParameter" class="btn-flat teal-text waves-effect btn modal-trigger">Add
                            Parameter
                        </a>
                    </div>
                </div>
                <div class="col s12 l1"></div>
                <div class="col s12 l7 hide" id="tableContainer">
                    <table>
                        <tr>
                            <th>Parameter</th>
                            <th>Help</th>
                            <th>Type</th>
                            <th></th>
                        </tr>
                        <tbody id="params_table"></tbody>
                    </table>
                </div>
            </div>
            <div class="center section">
                <button type="button" class="btn  waves-effect" onclick="updateTemplate()" id="btn_create">
                    Update Template
                </button>
            </div>
        </div>
    </div>

    <!-- Modal Structure -->
    <div id="modalParameter" class="modal modal-fixed-footer">
        <div class="modal-content">
            <h4>New Parameter</h4>
            <form novalidate id="form_parameter">
                {% include "form-snippet.html" with form=ParametersForm %}
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="modal-action modal-close waves-effect waves-green btn-flat ">Cancel</button>
            <button type="button" href="#!" class="waves-effect waves-green btn" onclick="createParameter()">Create
            </button>
        </div>
    </div>

    <div class="fixed-action-btn left-button ">
        <a href="{% url "servers-templates" %}" id="btn_play"
           class="btn-floating btn-large waves-effect waves-light grey tooltipped" data-position="right"
           data-tooltip="Back to Templates List">
            <i class="material-icons">arrow_back</i></a>
    </div>
{% endblock %}

{% load staticfiles %}
{% load compress %}

{% block extraStyles %}
    {% compress css %}
        <link rel="stylesheet" href="{% static "css/select2-materialize.css" %}">
    {% endcompress %}
{% endblock %}
{% block extraScripts %}
    <script type="text/javascript" src="{% static "js/select2.full.min.js" %}"></script>
    <script type="text/javascript">
        $('.modal').modal();
        var global_params = [];
        var _objCont;
        var _types = ['String', 'List'];
        var _table_containenr = document.getElementById('tableContainer');
        var _select_input = $('#parameter-search');
        var _btn_create = document.getElementById('btn_create');

        /* - - - -  On Start  - - - - */
        {% for param in object.parameters.all %}
            global_params.push({
                "id": "{{ param.id }}",
                "name": "{{ param.name | escapejs}}",
                "help_text": "{{ param.help_text | escapejs }}",
                "category": "{{ param.category }}",
                "value_type": "{{ param.value_type}}"
            });
        {% endfor %}

        global_params.forEach(function (v) {
            drawParamter(v)
        });
        /* - - - -  End On Start  - - - - */


        _select_input.select2({
            ajax: {
                url: "{% url "api-parameters" %}",
                dataType: 'json',
                delay: 250,
                data: function (params) {
                    return {
                        name: params.term,// search term
                        category: document.getElementById('id_category').value
                    };
                },
                processResults: function (data) {
                    return {
                        results: data
                    };
                }
            },
            placeholder: "Command Search",
            escapeMarkup: function (markup) {
                return markup;
            }, // let our custom formatter work
            minimumInputLength: 2,
            templateResult: function (data) {
                return data.name
            },
            templateSelection: function (data) {
                return data.name
            }
        });

        _select_input.on("select2:select", function (e) {
            populateObj(_select_input.select2('data')[0]);
            _btn_create.disabled = false;
        });


        function populateObj(data) {
            global_params.push({
                "id": data.id,
                "name": data.name,
                "help_text": data.help_text,
                "category": data.category,
                "value_type": data.value_type
            });
            if (!_objCont) {
                _objCont = 0;
            }
            drawParamter(data);
        }

        function drawParamter(data) {
            _table_containenr.classList.remove("hide");

            var _tr_params = document.createElement('tr');
            var _td_param = document.createElement('td');
            var _td_help = document.createElement('td');
            var _td_type = document.createElement('td');
            var _td_option = document.createElement('td');
            var _delete_icon = document.createElement('i');

            _tr_params.setAttribute('id', _objCont);

            _delete_icon.setAttribute('class', 'material-icons red-text');
            _delete_icon.setAttribute('onClick', 'deleteParam(' + _objCont + ')');
            _delete_icon.appendChild(document.createTextNode('close'));

            _td_param.appendChild(document.createTextNode(data.name));
            _td_help.appendChild(document.createTextNode(data.help_text));
            _td_type.appendChild(document.createTextNode(_types[data.value_type - 1]));
            _td_option.appendChild(_delete_icon);

            _tr_params.appendChild(_td_param);
            _tr_params.appendChild(_td_help);
            _tr_params.appendChild(_td_type);
            _tr_params.appendChild(_td_option);

            document.getElementById('params_table').appendChild(_tr_params);
            _objCont++;
        }

        function deleteParam(id) {
            /* Delete the param row (tr)*/
            var _element = document.getElementById(id);
            global_params.splice(id, 1);
            _objCont--;
            _element.parentNode.removeChild(_element);
            if (global_params.length < 1) {
                _btn_create.disabled = true;
                _table_containenr.classList.add("hide");
            }
            _select_input.val(null).trigger("change");
        }

        document.getElementById("id_category").onchange = cleanGlobalParams;


        function cleanGlobalParams() {
            _btn_create.disabled = true;
            global_params = [];
            var table = document.getElementById('params_table');
            while (table.firstChild) {
                table.removeChild(table.firstChild);
            }
            _table_containenr.classList.add("hide");
        }

        function createParameter() {
            $.ajax({
                url: "{% url "api-parameters" %}",
                type: "POST",
                data: {
                    name: document.getElementById('param_name').value,
                    help_text: document.getElementById('id_help_text').value,
                    category: document.getElementById('category_group').value,
                    value_type: document.getElementById('id_value_type').value,
                }, success: function (data) {
                    drawMessage("Parameter '" + data.name + "' Created", 'green');
                    document.getElementById('form_parameter').reset();
                    $('#modalParameter').modal('close');
                }, error: function (err) {
                    if (err.responseJSON.name) {
                        (err.responseJSON.name).forEach(function (v) {
                            drawMessage("Name: " + v, 'red');
                        })
                    }
                }
            });
        }

        function updateTemplate() {
            if (global_params.length >= 1) {
                _btn_create.disabled = false;
                var _params = [];
                global_params.forEach(function (v) {
                    _params.push(parseInt(v.id));
                });
                $.ajax({
                    url: "{% url "api-templates"  object.pk %}",
                    type: 'PUT',
                    data: {
                        "name": document.getElementById('id_name').value,
                        "description": document.getElementById('id_description').value,
                        "category": document.getElementById('id_category').value,
                        "params": JSON.stringify(_params)
                    }, success: function (data) {
                        if (data.id) {
                            window.location.href = '{% url "servers-templates" %}';
                        }
                    }, error: function (err) {
                        if (err.responseJSON.name) {
                            (err.responseJSON.name).forEach(function (v) {
                                drawMessage("Name: " + v, 'red');
                            })
                        }
                    }
                })
            } else {
                _btn_create.disabled = true;
            }
        }
    </script>
{% endblock %}