{% extends "base.html" %}
{% block title %}Edit Server Profile{% endblock %}
{% block subtitle %}Edit Server Profile{% endblock %}
{% block content %}
    <div class="container">
        {% csrf_token %}
        <div class="row">
            <div class="col s12 l6 ">
                <div class="card">
                    <div class="card-content">
                        <form method="POST">
                            {% include "form-snippet.html" %}
                        </form>
                    </div>
                </div>
                <div class="card grey lighten-3 hide" id="instruction_box">
                    <div class="card-content">
                        <p><b class="red-text">*</b> <b class="blue-grey-text">Write the parameter value like python
                            syntax. </b></p>
                        <code>Example: "String", 1,
                            ["array", "string"], [1, 2, 3] or 1.2</code>

                    </div>
                </div>
            </div>
            <div class="col s12 l1">

            </div>
            <div class="col s12 l4 card">
                <div class="card-content">
                    <div class="row">
                        <div class="col s12 ">
                            <h4 class="card-title" id="category_template"></h4>
                            <h4 class="card-title">Parameters</h4>
                            <ul id="paramsList"></ul>
                            <code class="grey-text">* Only the parameters with value will be saved</code>
                        </div>
                    </div>
                    <div class="section">

                        <div class="center">
                            <button class="btn" type="button" disabled id="btn_create" onclick="saveProfile()">Update
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if stepper != 'stepper' %}
    <div class="fixed-action-btn left-button ">
        <a href="{% url "servers-profiles" %}" id="btn_play"
           class="btn-floating btn-large waves-effect waves-light grey tooltipped" data-position="right"
           data-tooltip="Back to Profile List">
            <i class="material-icons">arrow_back</i></a>
    </div>
    {% endif %}
{% endblock %}

{% block extraScripts %}
    <script type="text/javascript">
        var _objPk = {{ object.template_id }};
        var _inputs = document.getElementsByClassName('param_val');

        var _select = document.getElementById('id_template');
        var _name = document.getElementById('id_name');
        var _desc = document.getElementById('id_description');
        var _categories = ['Global Variables', 'Local Network Connection', 'Jenkins Connection'];
        var _globalTemplate;
        getParams();


        _select.onchange = getParams;

        function getParamsValues() {
            $.ajax({
                url: "{% url "api-profiles" object.pk %}",
                type: "GET",
                success: function (data) {
                    if (data.config.length > 2) {
                        var _result = JSON.parse(data.config);
                        _result.forEach(function (v, k) {
                            if (Array.isArray(v.value)) {
                                var _tagArray = [];
                                var _chipContainer = document.getElementById(v.id);
                                _chipContainer.setAttribute('class', 'chips param_val');
                                v.value.forEach(function (v, k) {
                                    _tagArray.push(v)
                                });
                                $('#' + v.id + '').material_chip({
                                    data: _tagArray
                                });
                            } else {
                                _inputs[k].value = v.value;
                            }
                        });
                    }
                }, error: function (err) {
                    console.log(err)
                }
            });
        }

        function getParams() {
            var box = document.getElementById('instruction_box');
            if (_select.value) {
                $.ajax({
                    url: "/apis/templates/" + _select.value,
                    type: "GET",
                    success: function (data) {
                        if (data.category === 1) {
                            box.classList.remove('hide');
                        } else {
                            box.classList.add('hide');
                        }
                        _globalTemplate = data;
                        var _category_type = document.getElementById('category_template');
                        _category_type.innerHTML = _categories[data.category - 1];
                        showParams(data.parameters)
                    }, error: function (err) {
                        console.log(err)
                    }
                })
            }
        }

        function showParams(params) {
            var _containerList = document.getElementById('paramsList');
            _containerList.innerHTML = '';
            if (_objPk === parseInt(_select.value)) {
                getParamsValues();
            }
            params.forEach(function (v, k) {
                var _listElement = document.createElement('li');
                var _txtParam = document.createElement('span');
                _txtParam.innerHTML = v.name;
                _listElement.appendChild(_txtParam);
                if (v.help_text) {
                    var _help_icon = document.createElement('i');
                    _help_icon.setAttribute('class', 'material-icons tiny blue-grey-text');
                    _txtParam.setAttribute('data-tooltip', v.help_text);
                    _txtParam.setAttribute('class', 'tooltipped');
                    _help_icon.innerHTML = 'help';
                    _txtParam.appendChild(document.createTextNode(" "));
                    _txtParam.appendChild(_help_icon);
                }
                if (v.value_type === 2) {
                    var _chipContainer = document.createElement('div');
                    _chipContainer.setAttribute('id', v.id);
                    _chipContainer.setAttribute('class', 'chips param_val');
                    var _chipText = document.createTextNode('Put a value and press ENTER');
                    {#                    _chipText.setAttribute('class', 'blue-grey-text');#}
                    _listElement.appendChild(_chipText);
                    _listElement.appendChild(_chipContainer);
                } else {
                    var _input_value = document.createElement('input');
                    _input_value.setAttribute('type', 'Text');
                    _input_value.setAttribute('class', 'param_val');
                    _input_value.setAttribute('id', v.id);
                    _listElement.appendChild(_input_value);
                }
                _containerList.appendChild(_listElement)
            });
            document.getElementById('btn_create').disabled = false;
            $('.tooltipped').tooltip({delay: 20});
            $('.chips').material_chip();
        }

        function saveProfile() {
            /*First we obtain every value from inputs parameters*/
            var _values;
            var _params = [];
            var _cont;
            var _inputs = document.getElementsByClassName('param_val');
            var stepper = '{{stepper}}';

            for (_cont = 0; _cont < _inputs.length; _cont++) {
                var _current = _inputs[_cont];
                if (_current.classList.contains('chips')) {
                    var _chipData = $('#' + _current.id + '').material_chip('data');
                    _params.push({
                        'id': _current.id,
                        'value': _chipData
                    })
                } else {
                    _params.push({
                        'id': _current.id,
                        'value': _current.value
                    })
                }
            }
            _values = {
                "name": _name.value,
                "description": _desc.value,
                "template": _select.value,
                "category": _globalTemplate.category,
                "config": JSON.stringify(_params),
                "stepper": stepper
            };

            $.ajax({
                url: "{% url "api-profiles" object.pk %}",
                type: "PUT",
                data: _values,
                success: function (data) {
                    var id = data.id;
                    if(stepper != 'stepper'){
                        window.location.replace("{% url "servers-profiles" %}");
                    } else {
                        window.location.href = generate_url(id);
                    }

                }, error: function (err) {
                    console.log(err)
                    if (err.responseJSON.name) {
                        (err.responseJSON.name).forEach(function (v) {
                            drawMessage("Name: " + v, 'red');
                        })
                    }
                }
            });
        }

        function generate_url(id) {
            return "{% url 'successful' step='profiles' pk=0 %}".replace("0", id);
        }
    </script>
{% endblock %}