{% extends "base.html" %}
{% block title %}Jenkins Servers Profiles{% endblock %}
{% block subtitle %} Jenkins Servers Profiles{% endblock %}
{% block content %}
    <div class="container">
        <table class="datatable">
            <thead>
            <tr>
                <th>Name</th>
                <th>IP</th>
                <th>Port</th>
                <th>Edit</th>
            </tr>
            </thead>
        </table>
        <div class="fixed-action-btn">
            <a href="{% url "new-jenkins-server-profile" %}"
               class="btn-floating btn-large waves-effect waves-light blue-grey"><i class="material-icons">add</i></a>
        </div>
    </div>
{% endblock %}
{% load staticfiles %}
{% block extraStyles %}
    <link rel="stylesheet" href="{% static "css/dataTablesMaterial.css" %}">
{% endblock %}
{% block extraScripts %}
    <script src="{% static "js/datatables.min.js" %}"></script>
    <script src="{% static "js/DTBoilerPlate.js" %}"></script>
    <script>
        $(document).ready(function () {
            var config = [{
                "targets": 3,
                data: function (row) {
                    return "<div>" +
                        "<a class='btn' href='/servers/templates/" + row[1] + "'><i class='material-icons'>edit</i></a>" +
                        "<a class='btn red' href='/servers/templates/" + row[1] + "/delete/'><i class='material-icons'>delete</i></a>" +
                        "</div>";
                }
            }];
            dtStart("{% url "api-jenkins-servers" %}", config)
        });
    </script>
{% endblock %}