{% extends "base.html" %}
{% block title %}Servers Profiles{% endblock %}
{% block subtitle %}Servers Profiles{% endblock %}
{% load permission_tags %}
{% block content %}
    <div class="container">
        <div class="col s12">
                <h5>Description</h5>
                <p>View to search, create, update and delete profiles.</p>
        </div>
        <table class="datatable">
            <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Options</th>
            </tr>
            </thead>
        </table>
        {% if user|can:'create_server_profile' %}
            <div class="fixed-action-btn">
                <a href="{% url "new-server-profile" %}"
                   class="btn-floating btn-large waves-effect waves-light blue-grey"><i
                        class="material-icons">add</i></a>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% load staticfiles %}
{% load compress %}

{% block extraStyles %}
    {% compress css %}
        <link rel="stylesheet" href="{% static "css/dataTablesMaterial.css" %}">
    {% endcompress %}
{% endblock %}

{% block extraScripts %}
    {% compress js %}
        <script src="{% static "js/datatables.min.js" %}"></script>
        <script src="{% static "js/DTBoilerPlate.js" %}"></script>
        <script>
            $(document).ready(function () {
                var config = [{
                    "targets": 2,
                    data: function (row) {
                        return "<div>" +
                            {% if user|can:'update_server_profile' %}
                                "<a class='btn' href='/servers/profiles/" + row[2]
                                + "'><i class='material-icons'>edit</i></a>" +
                            {% endif %}
                            "   " +
                            {% if user|can:'delete_server_profile' %}
                                "<a class='btn red' href='/servers/profiles/" + row[2]
                                + "/delete/'><i class='material-icons'>delete</i></a>" +
                            {% endif %}
                            "</div>";
                    }
                }];
                dtStart("{% url "api-servers-profiles" %}", config)
            });
        </script>
    {% endcompress %}
{% endblock %}