{% extends "base.html" %}
{% block title %}Servers Templates{% endblock %}
{% block subtitle %}Servers Templates{% endblock %}
{% block content %}
    <div class="container">
        <table class="datatable">
            <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Options</th>
            </tr>
            </thead>
        </table>
        <div class="fixed-action-btn">
            <a href="{% url "new-server-template" %}"
               class="btn-floating btn-large waves-effect waves-light blue-grey"><i class="material-icons">add</i></a>
        </div>
    </div>
{% endblock %}

{% load staticfiles %}
{% load compress %}
{% compress css %}
    <link rel="stylesheet" href="{% static "css/dataTablesMaterial.css" %}">
{% endcompress %}
{% block extraScripts %}
    {% compress js %}
        <script src="{% static "js/datatables.min.js" %}"></script>
        <script src="{% static "js/DTBoilerPlate.js" %}"></script>
        <script>
            $(document).ready(function () {
                var config = [{
                    "targets": 2,
                    data: function (row) {
                        return "<div>" +
                            "<a class='btn' href='/servers/templates/" + row[2] + "'><i class='material-icons'>edit</i></a>" +
                            "<a class='btn red' href='/servers/templates/" + row[2] + "/delete/'><i class='material-icons'>delete</i></a>" +
                            "</div>";
                    }
                }];
                dtStart("{% url "api-servers-templates" %}", config)
            });
        </script>
    {% endcompress %}
{% endblock %}